SGX Annual Reports/bridged_http_with_download_sub.json
{
  "name": "bridged http with download sub",
  "nodes": [
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        2020
      ],
      "id": "d0c2e1c1-5907-4077-af5d-113435292bf7",
      "name": "Loop Over Items1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const it = items[i];\n  const path = it.json.path;\n  // 删掉二进制数据\n  delete it.binary;\n  // 保留你需要的 JSON 字段\n  it.json = { path };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        2080
      ],
      "id": "a899e874-dc2a-43d0-801e-91ed317ea4b1",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/files/{{ $json[''].href.split('/')[4] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        840,
        2000
      ],
      "id": "667be3ee-9cea-4148-bba2-7f4c2b72f3b0",
      "name": "Read/Write Files from Disk3",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://links.sgx.com{{ $json[''].href }}",
        "options": {
          "timeout": 4000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        2000
      ],
      "id": "77bfe178-56f5-4f04-b375-cd83cad9ced0",
      "name": "HTTP Request9",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4ff284d5-9eb9-467c-8e07-1f4d4958627e",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        100,
        1980
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/52V64LY1GAP0HFBI/573129_Del%20Monte%20Pacific%20Annual%20Report%20FY2019%20FINAL.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/HCQKT6QM98O7IRX2/422444_HLH%20-%20Annual%20Report%20FYE30032016.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/7S4F1F9B3OC1DY9O/606564_Asia%20Enterprises%20Holding%20Limited_AR%202019.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/7R2OD4BMAD1AGE7B/534471_Interim%20Financials%20-%20Quarter%20ended%20September%2030%202018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/YKG1IEE0H5XX78OZ/444862_1.%20%20Report%20to%20Shareholders%202016.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/FOTB3VFDDSIL78T3/343748_ANH_Annual%20Report%20for%20FYE%202014.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/6SWNUGE5K4S54GSM/629578_FY2020%20Annual%20Report_FINAL.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/8DI2CXPNVIJPQL86/397992_Charisma_AR2015.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/S8I45PIGNZJCRVPF/606520_DCL-Annual%20Report%202019.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/ZV35U44Y87TAD9HQ/606701_IFS%20Capital%20Limited%20Annual%20Report%202019.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/M1Y9BW12RL455YNL/550000_107Q4%20consolidated%20financial%20statement.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/DKTG6WHLPQN636V5/592703_AHS%20Annual%20Report%202019.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/Q70QLUSYWAZIKCP1/447523_VIT%202016%20Annual%20Report.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/1PT9F6FLT4W1W7M2/446102_Manulife%20US%20REIT%20Annual%20Report%202016.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/PHCCKXTKYTRT3K7D/607997_E_882810_COG_AR_ESS.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/DNRNXU2VKJ024U91/528992_Global%20Dragon%20Limited_Annual%20Report%202018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/97K98I42P99K9QF0/373259_Annual%20Report%202015.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/5LD4WQBC2KQFXB7C/660950_DAI_Annual%20Report_FY2020.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/L5MGAM626M24CDUK/461116_SHG_ANNUAL_REPORT_FY2017.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/5TWW2TOJGYJQLVYP/539235_Nam%20Lee_AR2018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/C1LVIW0IKYGONDSS/424812_NSG%20Annual%20Report%202016.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/08A3GLWQT9RTM19L/395827_ARA_Annual%20Report_FY2015.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/SFT04SNWT4WRUAM7/606818_GTC%20-%20Annual%20Report%202019.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/97YGVEX6XU70TIRA/462358_HDB%20Financial%20Statements%20for%20the%20year%20ended%2031%20Mar%202017.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/5Z3IIY8E3DTORWKL/528268_Annual%20Report%202018_3Oct2018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/7M5P9NGZP8W6US9M/343653_Seroja%20AR2014.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/XNSI3VGNBSE2ZUBI/397511_ZICO%20-%20Annual%20Report%202015.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/L2JDX0LZCTUIUMYP/551414_Singapura%20Finance%20Ltd%20Annual%20Report%202018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/BX4U3V58LOILXP3O/587325_SPDR%20Gold%20Trust%2010-K.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/XTID7IYI88ZYYXMK/551612_Alpha_Annual%20Report%202018.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/KRX5PPGV99KIWHVG/445248_Far%20East%20H-Trust%20_AR2016.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/6VTPSB7E4D5W8YID/656084_Frencken_AR2020.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/KSC0Z7YIYGY2S5AE/558141_NVL_Annual_Report_2018_Final_EN.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/6YHCC8ZOE57PSA9B/424404_Logistics%20-%20Annual%20Report%202016%20final.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  },\n  {\n    \"exitCode\": 0,\n    \"stderr\": \"\",\n    \"stdout\": \"MISSING\",\n    \"\": {\n      \"href\": \"/1.0.0/corporate-announcements/M7T1RFLR93XFULR1/465652_XMH%20-%20Annual%20Report%202017.pdf\",\n      \"target\": \"_blank\",\n      \"class\": \"announcement-attachment\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        2340
      ],
      "id": "2c53ac0d-0425-4874-aa7c-fcc7819d1b70",
      "name": "fake data"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/files/{{ $json[''].href.split('/')[4] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        640,
        1740
      ],
      "id": "eed8f47b-522e-462c-9cb0-4038036fe79c",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://links.sgx.com{{ $json[''].href }}",
        "options": {
          "timeout": 4000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        1740
      ],
      "id": "87591034-9fcd-4bff-bdb6-7fe4ab32e2a0",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fake data": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f91acff-17ad-4aea-9a10-701643ac91a0",
  "meta": {
    "instanceId": "70232b1931410b16ff30066cebf27f070772e4fb9654f8dda3bb39f2d0a7022c"
  },
  "id": "uzHUpAzDcXQMkuwp",
  "tags": []
}