Export N8N Workflows/exported_workflows/bridged http with download master.json
{"createdAt":"2025-07-02T09:38:51.765Z","updatedAt":"2025-07-03T04:08:30.000Z","id":"shoOrWPbcOmNA3ri","name":"bridged http with download master","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"cssSelector":".announcement-attachment","returnValue":"attribute"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[640,1520],"id":"a5c7233f-30c9-4bdb-a1bb-c4b5085273dd","name":"HTML","onError":"continueRegularOutput"},{"parameters":{"operation":"write","fileName":"=/files/files/{{ $json[''].href.split('/')[4] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1980,240],"id":"34cfa856-4470-4f8e-bbd6-38eebc4e9435","name":"Read/Write Files from Disk1","alwaysOutputData":false,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"batchSize":30,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,1600],"id":"aefb82b1-ab6c-435c-abab-326446eeeecd","name":"Loop Over Items"},{"parameters":{"url":"=https://links.sgx.com{{ $json[''].href }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2200,240],"id":"a132215e-43b2-4635-b414-8750a5b54b30","name":"HTTP Request8","alwaysOutputData":false,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const it = items[i];\n  const path = it.json.path;\n  // 删掉二进制数据\n  delete it.binary;\n  // 保留你需要的 JSON 字段\n  it.json = { path };\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,240],"id":"66e9d23d-2514-4161-bb8b-01aa9be976d2","name":"Code"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=0&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,500],"id":"5fef9ea3-d141-402f-8e08-4a3edae27158","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,500],"id":"3c9cb2b5-621d-4cec-a4ee-88e8dcae835d","name":"Split Out"},{"parameters":{"numberInputs":7},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1100,1016],"id":"5a48a9bf-1d5d-4078-9bd8-04a7d49c6c98","name":"Merge"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=1&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,700],"id":"62e986de-5c93-4d8d-b219-c36f88d350b7","name":"HTTP Request2"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,700],"id":"d6ed2d0e-2739-488b-9c06-08429a649b17","name":"Split Out1"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=2&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,900],"id":"a20b39c8-c5cc-4186-bde3-caaa049f4d64","name":"HTTP Request3"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,900],"id":"536813e0-5aa3-42fb-8905-53946da72bae","name":"Split Out2"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=3&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,1100],"id":"f42ed1d2-76d8-456c-a729-a457feaaffe7","name":"HTTP Request1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,1100],"id":"0a2363b6-4f4f-4afb-861c-fba71eec5224","name":"Split Out3"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=4&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,1300],"id":"cb4ddc3e-cf7d-4530-b323-50ab6f63b9ac","name":"HTTP Request4"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,1300],"id":"0d1c5a83-f8de-4ba6-93be-f75c9c05239b","name":"Split Out4"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=5&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,1500],"id":"612fd5ca-9189-4591-a5f3-e3f18c14d329","name":"HTTP Request5"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,1500],"id":"cc2cfc18-765a-423d-a519-381fb02e15bf","name":"Split Out5"},{"parameters":{"url":"=https://api.sgx.com/financialreports/v1.0?pagestart=6&pagesize=2000&params=id%2CcompanyName%2CdocumentDate%2CsecurityName%2Ctitle%2Curl","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1980,1700],"id":"0d5dec1e-e875-4fcf-bf94-6bf4c655f464","name":"HTTP Request6"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1760,1700],"id":"16484770-362c-473a-9a43-1e2e66fbc332","name":"Split Out6"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,500],"id":"286c0c1b-3234-458e-a04f-1b2bac57ea97","name":"Limit","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,700],"id":"b979a6e6-5bb9-48df-9f2b-be0d456b6c14","name":"Limit2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,900],"id":"558b827c-4296-44ab-b033-bb67de29e807","name":"Limit3","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,1100],"id":"20b45214-3b77-423a-901e-6ed726c5195e","name":"Limit4","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,1300],"id":"7531fb75-4b12-4f5b-be91-18b55a281b12","name":"Limit5","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,1500],"id":"df1000dd-7e90-4ace-9d7a-6e0af4c8d0fc","name":"Limit6","disabled":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1540,1700],"id":"5fd2e41f-11a1-40df-8df0-b907be511220","name":"Limit7","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,500],"id":"fb5a06d7-5a02-4fc2-95bc-c84325a54ef5","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,700],"id":"6896308b-e9b5-467e-aaf8-b18fb8bb7e24","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,900],"id":"c04a7096-6bc8-4ad7-88ea-39bbbab4d268","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,1100],"id":"dea097fe-bc97-4cb3-8b5b-2ba0b2ba5d22","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,1300],"id":"2ee9c182-6697-4d9d-8d6b-5969b359b138","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,1500],"id":"25115230-08a6-4fab-87af-c7d95633622c","name":"If6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.title }}","rightValue":"Annual Report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,1700],"id":"9dce24bb-a2c8-4a01-a8fc-1970662402bc","name":"If7"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2200,-20],"id":"8ea2212c-81f9-4f4f-ba7a-cfcfe97519cf","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"/files/files/1st_step_http_list.json","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1980,-20],"id":"40da12e8-7e0f-4a47-9239-cbdb428fe6f9","name":"Read/Write Files from Disk"},{"parameters":{"jsCode":"  return items.map(item => {\n    // ① 取原始毫秒时间戳\n    const ms = Number(item.json.documentDate);\n\n    // ② 创建日期对象（这里直接用毫秒；无需再 /1000）\n    const date = new Date(ms);\n\n    // ③ 如需按新加坡时区 (+08:00) 统一结果，可手动加 8 小时再用 UTC 取值\n    //    （若 n8n 服务器本身就在 SGT，可省略此步）\n    const sgDate = new Date(date.getTime() + 8 * 60 * 60 * 1000);\n\n    // ④ 格式化：YYYYMMDD\n    const y = sgDate.getUTCFullYear();\n    const m = String(sgDate.getUTCMonth() + 1).padStart(2, '0');\n    const d = String(sgDate.getUTCDate()).padStart(2, '0');\n    item.json.documentDate = `${y}${m}${d}`;\n\n    return item;\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,1500],"id":"4e83aa6a-4397-43b3-971c-b1f5a25794e6","name":"FormatDocumentDate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a8d08-d2fc-41e0-bfd5-847e97710056","leftValue":"={{ $json.documentDate.toNumber() }}","rightValue":20200000,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,1380],"id":"f7a7fb38-7c27-42c0-85a9-3f01993c040c","name":"after 2020"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1760,1900],"id":"904a7b0b-405b-42c9-a8da-666499aea14e","name":"When clicking ‘Execute workflow’"},{"parameters":{"fileSelector":"/files/files/1st_step_http_list.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1540,1900],"id":"d0031b99-1867-4b0d-9332-8ec5239e1912","name":"Read/Write Files from Disk2"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1320,1900],"id":"9b380ae9-2914-4933-8a6f-f37325a4f779","name":"Extract from File"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1100,1900],"id":"11f93848-f660-41c1-b120-0de96fefddd7","name":"Split Out7"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-660,1500],"id":"c41f57a6-a1fe-41d7-a44e-6238c4017c0d","name":"Limit1","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1540,1525],"id":"cab8655e-70f3-4427-ac34-8275e8dc75f9","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c530b41a-7b0d-445e-8b72-e9fab6079e80","leftValue":"={{ $json.stdout }}","rightValue":"EXISTS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,1600],"id":"cb3c6cd0-5a1b-417b-be50-696249fa27f8","name":"FileExistLocal"},{"parameters":{"operation":"write","fileName":"/files/files/failed_urls.json","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1800,1920],"id":"9fabe44d-5a04-46e4-8f0c-47b7182bb581","name":"Read/Write Files from Disk4","onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1580,1920],"id":"13f6307a-a941-4703-a4dc-8cf9c88be79e","name":"Convert to File1"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-880,1500],"id":"2fc90bfb-45eb-4958-906b-05387f8a43c0","name":"Sort"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2200,1058],"id":"b2dfbb82-0474-4779-a432-2739b348c7fe","name":"No Operation, do nothing"},{"parameters":{"operation":"write","fileName":"=/files/files/{{ $json[''].href.split('/')[4] }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-440,1700],"id":"70a6ed9c-0939-4428-a983-931dd5140b9f","name":"Read/Write Files from Disk5","alwaysOutputData":false,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const it = items[i];\n  const path = it.json.path;\n  // 删掉二进制数据\n  delete it.binary;\n  // 保留你需要的 JSON 字段\n  it.json = { path };\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,1700],"id":"ef269873-1988-4ffe-a167-3192034b31e7","name":"Code2"},{"parameters":{"url":"=https://links.sgx.com{{ $json[''].href }}","options":{"timeout":4000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,1700],"id":"d3607d5e-3099-4aad-a470-6fc3db8eb998","name":"CurlFile","alwaysOutputData":false,"retryOnFail":false,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,1520],"id":"c2f87d42-9223-4697-beb4-4591c3fc51cf","name":"HTTP Company Page","retryOnFail":true,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"executeOnce":false,"command":"=path=\"/files/files/{{ $json[''].href.split('/')[4]}}\"\nif [ -e \"$path\" ]; then\n  echo \"EXISTS\"\nelse\n  echo \"MISSING\"\nfi\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1320,1450],"id":"a89fe9f3-f232-4933-a8b5-9c0b93b17234","name":"See if file exist"},{"parameters":{"assignments":{"assignments":[{"id":"fe0c9b45-adc3-420b-b471-be848ac0da92","name":"url","value":"=https://links.sgx.com{{ $json[''].href }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,1920],"id":"a4358fa1-50e7-42ed-95c3-6133dd641ef1","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"uzHUpAzDcXQMkuwp","mode":"list","cachedResultName":"bridged http with download sub"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3840,1140],"name":"Call bridged http with download sub","id":"12e4ba10-380d-4f8f-b9cc-a7097cd09e1a"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3220,1040],"id":"73952772-3120-486f-883d-18ab82bd017c","name":"Wait1","webhookId":"d7558476-ade2-4d35-95b4-192a42cbbf05"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"343ea229-6e88-4ca0-b1d6-0225fd5b4483","leftValue":"data","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,1460],"id":"eacc646f-799a-405b-a2b1-d4c11a97b3db","name":"If"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[420,1980],"id":"7fae680a-c2c6-4757-a1a5-76d221225281","name":"Wait","webhookId":"746f40a6-01f6-432a-b3eb-c3e02eb287d8"}],"connections":{"HTML":{"main":[[{"node":"If","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Company Page","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Limit2","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Limit3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Limit4","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Limit5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Split Out5","type":"main","index":0}]]},"Split Out5":{"main":[[{"node":"Limit6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Split Out6","type":"main","index":0}]]},"Split Out6":{"main":[[{"node":"Limit7","type":"main","index":0}]]},"Limit":{"main":[[{"node":"If1","type":"main","index":0}]]},"Limit2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Limit3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Limit4":{"main":[[{"node":"If4","type":"main","index":0}]]},"Limit5":{"main":[[{"node":"If5","type":"main","index":0}]]},"Limit6":{"main":[[{"node":"If6","type":"main","index":0}]]},"Limit7":{"main":[[{"node":"If7","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"If4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"If5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"If6":{"main":[[{"node":"Merge","type":"main","index":5}]]},"If7":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"FormatDocumentDate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"after 2020":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Split Out7","type":"main","index":0}]]},"Split Out7":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"FormatDocumentDate","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"FileExistLocal","type":"main","index":0}]]},"FileExistLocal":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Read/Write Files from Disk4","type":"main","index":0}]]},"Read/Write Files from Disk4":{"main":[[]]},"Sort":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0},{"node":"HTTP Request4","type":"main","index":0},{"node":"HTTP Request5","type":"main","index":0},{"node":"HTTP Request6","type":"main","index":0}]]},"Read/Write Files from Disk5":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CurlFile":{"main":[[{"node":"Read/Write Files from Disk5","type":"main","index":0}]]},"HTTP Company Page":{"main":[[{"node":"HTML","type":"main","index":0}]]},"See if file exist":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Call bridged http with download sub":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Call bridged http with download sub","type":"main","index":0}]]},"If":{"main":[[{"node":"See if file exist","type":"main","index":0},{"node":"Merge1","type":"main","index":1}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Singapore","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"2ddab080-5636-47f1-99fb-ae615d548183","triggerCount":0,"tags":[]}