Export N8N Workflows/exported_workflows/MAS 2.json
{"createdAt":"2025-07-03T03:03:09.396Z","updatedAt":"2025-07-03T05:03:02.000Z","id":"GN0cByjpb9WpWTlT","name":"MAS 2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,1275],"id":"4986aad5-2272-4dc3-ba57-4af74724a180","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://eservices.mas.gov.sg/fid/institution?count=0","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-420,1525],"id":"72797da5-ebfe-4b1c-9bb3-a207cdc71c39","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"={{ $json.keys() }}","cssSelector":".inner","returnValue":"html","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-200,1525],"id":"b13e572a-e4dc-4932-8985-d53e8aafbcdf","name":"HTML"},{"parameters":{"fieldToSplitOut":"=data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20,1525],"id":"a4a2f5e1-5ab4-47a7-b23e-9d225b983586","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"href","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[460,1325],"id":"a8dacb3d-5aec-46f1-a97c-9e1582366b81","name":"HTML1"},{"parameters":{"fieldToSplitOut":"href[0]","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,1325],"id":"474edc8f-8594-41fe-944e-7090a8385813","name":"Split Out1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56a1c526-b8c6-4143-a462-5af0e453280a","leftValue":"={{ $json['href[0]'] }}","rightValue":"/fid","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,1325],"id":"334ba646-a8c9-4e0f-bc0d-544b6ee094f4","name":"If","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://eservices.mas.gov.sg{{ $json['href[0]'] }}","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,375],"id":"9bb62a44-cc82-4ccb-bb9a-8f85a71b5d50","name":"HTTP Request1","retryOnFail":true,"onError":"continueRegularOutput","notes":"https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS\n\nhttps://eservices.mas.gov.sg{{ $json['href[0]'] }}"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Personnel","cssSelector":".personnel","returnValue":"html","returnArray":true},{"key":"Company Name","cssSelector":".title h1"}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2000,375],"id":"4ae93585-33db-400e-a2e3-734fd828e23f","name":"HTML2","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"Personnel","extractionValues":{"values":[{"key":"Person Title","cssSelector":".header-inner-2"},{"key":"Person Name","cssSelector":".font-resize"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1560,575],"id":"01decfbd-8265-440b-9ca9-d0f2b11eec56","name":"HTML3","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe8174-315d-4d60-8d75-575e350e2b37","leftValue":"={{ $json.Personnel }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,750],"id":"7af003f8-7f88-4603-958b-0f167cbc0932","name":"If1","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"94306480-fd34-4471-a8ca-3d0509601cc5","name":"['href[0]']","value":"=https://eservices.mas.gov.sg{{ $json['href[0]'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1500],"id":"c6b3c718-28b7-4e3e-89bc-85f8173130cb","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1340,1100],"id":"b2eb3530-60e9-4860-a42c-16019746c3f7","name":"Merge1","onError":"continueRegularOutput"},{"parameters":{"mode":"combine","fieldsToMatchString":"['Company Name']","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2220,850],"id":"43402613-0258-449b-8a8f-4af1ef8d927c","name":"Merge2","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,750],"id":"0bf1b96f-41ff-40a5-97ca-3c39c79713c4","name":"Merge3","onError":"continueRegularOutput"},{"parameters":{"binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2440,850],"id":"9f7eeafd-2d66-4192-8ffa-c1abb8a1f72b","name":"Convert to File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,1100],"id":"6ab30c23-3a89-451c-982a-dce646c719b8","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"interval":1},"type":"n8n-nodes-throttle.throttle","typeVersion":1,"position":[1340,375],"id":"d4b74e13-efd3-4aa5-8734-7133241b25a6","name":"Throttle"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11703b51-1360-465c-945a-7a23d56ae4c9","leftValue":"data","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1780,375],"id":"796ccf9c-ab98-4ccd-ad90-d0db8e32e383","name":"If2","onError":"continueRegularOutput"},{"parameters":{"operation":"write","fileName":"/files/files/MAS_Personnel.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2660,850],"id":"3cdaebdb-10df-4184-b1a4-dab6875ac760","name":"Read/Write Files from Disk"},{"parameters":{"operation":"write","fileName":"/files/mas_urls.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1560,1550],"id":"62213cab-4c26-489f-9e3a-7de6706ab36c","name":"Read/Write Files from Disk1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1340,1550],"id":"1407d261-a1ca-44f1-8f1e-c5f20ef5421e","name":"Convert to File1","disabled":true},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[240,1325],"id":"01cc443d-d882-4c8e-bda5-7387385d7e27","name":"Limit","disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,950],"id":"56545124-5b2b-46c0-b794-797d91e61818","name":"Code1","onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1780,675],"id":"e6e46845-3397-484f-b8ff-a840d452c98e","name":"Merge","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Delete unnecessary columns\nfor (const item of $input.all()) {\n  delete item.json.Personnel;\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,1100],"id":"173d450a-e0d1-495d-99eb-090eb8136721","name":"Code","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-60],"id":"e640767b-d6a7-4557-b33c-34b2d7788b98","name":"HTTP Request2"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"Personnel","extractionValues":{"values":[{"key":"Person Title","cssSelector":".header-inner-2"},{"key":"Person Name","cssSelector":".font-resize"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[240,-260],"id":"c18e5e63-662c-4cd2-bd17-402619ed91ab","name":"HTML4","onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Personnel","cssSelector":".personnel","returnValue":"html","returnArray":true},{"key":"Company Name","cssSelector":".title h1"}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-200,-60],"id":"b971340b-445a-45d7-ac86-c410311ceca1","name":"HTML5","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11703b51-1360-465c-945a-7a23d56ae4c9","leftValue":"data","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-420,-60],"id":"14bdaa06-72fd-4b53-bd34-29140b7a5720","name":"If3","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0fe8174-315d-4d60-8d75-575e350e2b37","leftValue":"={{ $json.Personnel }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,-60],"id":"a92f512a-f663-4da0-9d2d-6fd538f0fc8d","name":"If4","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[680,-60],"id":"54fb2476-9195-4167-963f-fc72af86622a","name":"Merge4","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,115],"id":"e895fca1-8956-413e-8408-62bec10ef401","name":"Code3","onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[460,-160],"id":"5b4e0edd-a596-4d4f-aa49-74b1824ab612","name":"Merge5","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"584a6241-6de3-4e8f-bd16-9397e8ae73f0","name":"Company Name","value":"={{ $json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-60],"id":"bc059497-85c1-4e0b-bc64-24a7cfc49487","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"584a6241-6de3-4e8f-bd16-9397e8ae73f0","name":"Company Name","value":"={{ $json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,775],"id":"c82ba82e-ce2e-491f-af70-396c22eecb05","name":"Edit Fields2"},{"parameters":{"operation":"toJson","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[240,1575],"id":"33eace73-5227-4b91-b693-06265f58fa74","name":"Convert to File2","disabled":true},{"parameters":{"operation":"write","fileName":"/files/files/MAS2_all_after_first split_node.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[460,1575],"id":"ad0db667-38a7-4abb-9efc-c2afbec256d9","name":"Read/Write Files from Disk2","disabled":true},{"parameters":{"fileSelector":"/files/files/MAS2_all_after_first split_node.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-420,1275],"id":"8887db45-5072-44a5-adcd-c57bd6d0e214","name":"Read/Write Files from Disk3"},{"parameters":{"operation":"fromJson","destinationKey":"href","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-200,1275],"id":"26cd2f87-7fbc-4698-80cd-6777d84d9150","name":"Extract from File","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"href","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20,1275],"id":"508ee320-aaf0-451c-9080-04d4e9231123","name":"Split Out2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0},{"node":"Convert to File2","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If2","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTML3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If1":{"main":[[{"node":"HTML3","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Convert to File1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Loop Over Items":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}],[{"node":"Throttle","type":"main","index":0}]]},"Throttle":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTML2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTML5","type":"main","index":0}]]},"HTML5":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTML4","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"HTML4":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Convert to File2":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk3":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"17ec769a-c0f6-4f8f-97f8-31f4c858889d","triggerCount":0,"tags":[]}