Export N8N Workflows/exported_workflows/SGX_PDF_Extracted_JSON_LLM_NER_RED_Main.json
{"createdAt":"2025-07-10T01:43:12.218Z","updatedAt":"2025-07-17T10:13:44.000Z","id":"ptvgsfjO5m23cjXr","name":"SGX_PDF_Extracted_JSON_LLM_NER_RED_Main","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2320,-170],"id":"e01014c2-f8ba-4852-9d2f-fc266230ca77","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-780,-70],"id":"96f27370-07bc-4a93-8874-6a21358cff72","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"AS7FkvQOUu97efae","mode":"list","cachedResultName":"SGX_PDF_Extracted_JSON_LLM_NER_RED_Sub"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[320,-320],"id":"7787c714-6cdd-4d90-bcfe-062dee326c75","name":"Sub‑WF","onError":"continueRegularOutput"},{"parameters":{"fileSelector":"/files/files/FilesTrack.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2100,-170],"id":"a11e4362-c662-4398-ba3f-79beb8f84e7d","name":"Read/Write Files from Disk"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1880,-170],"id":"f02efa50-129a-44e7-a91a-1e9ead8472f2","name":"Extract from File"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1000,-70],"id":"1fe7904c-f212-4631-9279-06c58e631c8c","name":"Limit","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"01a05093-7830-41b4-b134-5bc91d661a38","name":"Company Name","value":"={{ $json.Entity.split(' ').slice(0, -1).join(' ') }}","type":"string"},{"id":"6e3dd4c7-aa8a-43f2-aca1-667e7977b6c6","name":"Year","value":"={{ $json.Entity.split(' ').slice(-1)[0] }}","type":"number"},{"id":"65f20de4-ff39-42ed-8676-d81a787cb2f6","name":"Data","value":"={{ $json.Data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,-170],"id":"749fa187-0175-42f8-8f54-c0512c9c41f9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f55e96e-4e7a-4122-b562-db297efc979f","leftValue":"={{ $json.Year }}","rightValue":2023,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1440,-170],"id":"021f4325-d59e-461b-9a05-db9650b16130","name":"Only After 2023"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"907ff871-1ddf-4cbf-97c0-c54cc0ec2b94","leftValue":"={{ $json['Company Name'] }}","rightValue":"DBS GROUP HOLDINGS LTD","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1220,30],"id":"142f2b64-521d-42bb-8d7e-0ed48eef65b5","name":"Only DBS"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6a8e183d-4db4-4c3f-8168-04db4f3001d8","leftValue":"={{ $json.stdout }}","rightValue":"MATCH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,-220],"id":"ecd9a105-f561-4d97-8dc1-586340c15ab8","name":"No Error","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-340,-220],"id":"3d114e31-7cc8-4586-92c0-addcd0750167","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"93529f70-da97-4c24-9655-1a1a893ec858","name":"","value":"","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"['Company Name'], Year, Data","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,-320],"id":"22d2c569-ba46-400c-9aeb-3e90a39b76ec","name":"Edit Fields1"},{"parameters":{"command":"=# Execute Command 节点（勾选“表达式模式 fx”）\nif [ -f \"/files/files/ExtractedContent/{{ $json.Data.replace(/\\.[^.]+$/, '') }}_extracted.json\" ] \\\n   && [ ! -f \"/files/files/NER_RED/{{ $json['Company Name'].replace(/ /g,'_') }}_{{ $json.Year }}_NER_RED.json\" ]; then\n    echo \"MATCH\"\nelse\n    echo \"SKIP\"\nfi"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-560,-295],"id":"9f038c62-13f5-4515-9ee3-ba18cb983664","name":"Execute Command2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[100,-120],"id":"5178ca68-de84-42a2-a81b-dbb9be6b3a34","name":"No Operation, do nothing"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-1220,-170],"id":"25aec591-c7ce-40c6-9b2c-712acb9c51db","name":"Sort"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,-145],"id":"93aca228-1b0f-41f5-82fd-70b9f9e86f0b","name":"Wait","webhookId":"72bf5eb3-05dd-492b-9e4f-ace991588b3a"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Command2","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Sub‑WF":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Only After 2023","type":"main","index":0}]]},"Only After 2023":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Only DBS":{"main":[[{"node":"Limit","type":"main","index":0}]]},"No Error":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"No Error","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Sub‑WF","type":"main","index":0}]]},"Execute Command2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f31557ff-e9ca-44d6-bb80-96fe590485c7","triggerCount":0,"tags":[]}