Export N8N Workflows/exported_workflows/SGX_PDF_Extracted_JSON_LLM_NER_RED_Sub.json
{"createdAt":"2025-07-09T09:57:32.970Z","updatedAt":"2025-07-17T09:04:18.000Z","id":"AS7FkvQOUu97efae","name":"SGX_PDF_Extracted_JSON_LLM_NER_RED_Sub","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"f9cda838-3d7d-45c4-81b5-e6150266c99d","typeVersion":1.1,"name":"SGX_PDF_Sub","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1900,-90],"disabled":true},{"parameters":{"promptType":"define","text":"=You are an expert‑level financial‑domain NER and Relationship Extraction engine.\n\n### Task\nAnalyse the following text chunks **exclusively** from the *“Board of Directors”* section of {{ $json['Company Name'] }}， an SGX‑listed company’s annual report in {{ $json.Year }} and return **exactly one** JSON object with the schema described below.\n\n{{ $json.toJsonString() }}\n\n### Output JSON schema\n{\n  \"reportYear\"        : int,      // publication year (e.g. 1995, 2020, 2024)\n  \"entities\"          : [         // all unique people & companies, there could be multiple companies as some people have director roles at different companies\n    {\n      \"entityId\"       : string,  // e.g. \"PERSON_{canonicalName all capital letter}\" or \"COMPANY_{company name all capital letter}\"\n      \"type\"           : \"Person\" | \"Company\",\n      \"canonicalName\"  : string,  // official full name\n      \"mentions\"       : string[],// all surface forms (if is a person, should add all possible legal permutation of the canonicalName, you should also look up if he has another legal name in a different country, or know as a nickname.)\n      \"NER_Confidence\" : float,   // 0‑1\n      \"source\"         : int   // page, in format {page number, int, less than 999} e.g. 33\n    },\n    ...\n  ],\n  \"relationships\"     : [         // person → company role links (a person can be related to multiple companies and one person can have multiple relationships with one company) or person → person links (family)\n    {\n      \"sourceEntityId\" : string,  // person id\n      \"targetEntityId\" : string,  // company id | person id (if family)\n      \"role\"           : {\n         \"category\"    : \"Director\" | \"C‑Suite\" | \"Family | \"Others\", // coarse bucket\n         \"details\"     : string                             // raw title (e.g. \"Chief Executive Officer\")\n      },\n      \"effectiveDate\"  : string|null, // YYYY‑MM‑DD, YYYY or null\n      \"RED_Confidence\": float,        // 0‑1\n      \"source\"        : int         // page, same format as above\n    },\n    ...\n  ]\n}\n\n### Rules\n1. **Return only the JSON.** No additional commentary.\n2. Use the same entityId for identical real‑world entities (deduplicate by name context).\n3. Normalise role synonyms (e.g. \"CEO\" == \"Chief Executive Officer\").\n4. Populate `source` with the PDF path & page where the mention appears (format: `PXX`).\n5. Confidence scores must be decimals between 0 and 1.\n6. If a date is missing, set `effectiveDate` to null.\n","messages":{"messageValues":[{"message":"=# SGX Board‑of‑Directors NER + Relationship Extraction Prompt\n## Objective  Parse the *“Board of Directors”* section of a Singapore‑listed company’s annual‑report PDF and emit a single structured valid JSON object. No extra keys, no comments, no trailing text.  ---  ## Top‑level JSON schema  ```jsonc {   \"reportYear\": <int>,   \"entities\": [Entity …],   \"relationships\": [Relationship …] }\n\n## Implementation reminders for the NER/RED engine  * Prefer explicit phrases: *“appointed as”, “joined the Board”, “ceased to be”* to set `effectiveDate`. * Assign **confidence** heuristically; e.g. 1.0 for exact regex capture on a single PDF page, lower for inferred matches. * If the report year cannot be found, fall back to the PDF filename year; flag confidence ≤ 0.5. * Output must be *machine‑parsable* JSON. No trailing commas."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-580,-640],"id":"dbf7b849-11ce-449b-9e20-5587b9bb5413","name":"Basic LLM Chain","alwaysOutputData":true},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-492,-420],"id":"f510c7b6-d96a-46e8-ae0f-778e8b1f5718","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8ZKGCiNnYo17fBEd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// n8n Code节点代码\n// 处理包含```json标记的输入数据\n\nlet jsonString = $input.first().json.text;\n  \n// 移除```json和```标记\njsonString = jsonString\n  .replace(/^```json\\s*\\n?/, '')  // 移除开始的```json\n  .replace(/\\n?```\\s*$/, '')      // 移除结尾的```\n  .trim();                        // 移除前后空白\n\n// 解析JSON\nlet inputData = JSON.parse(jsonString);\n\n// 验证JSON结构\nif (!inputData.reportYear || !inputData.entities || !inputData.relationships) {\n  throw new Error('Invalid JSON structure');\n}\n\n// return [{'inputData': inputData}];\n\n// 处理数据 - 例如提取关键信息\nconst processedData = {\n  reportYear: inputData.reportYear,\n  companyInfo: {\n    name: inputData.entities.find(e => e.type === 'Company')?.canonicalName,\n    entityId: inputData.entities.find(e => e.type === 'Company')?.entityId\n  },\n  executives: inputData.entities\n    .filter(e => e.type === 'Person')\n    .map(person => {\n      const relationship = inputData.relationships.find(r => r.sourceEntityId === person.entityId);\n      return {\n        name: person.canonicalName,\n        role: relationship?.role?.details || 'Unknown',\n        category: relationship?.role?.category || 'Unknown',\n        confidence: person.NER_Confidence\n      };\n    }),\n  totalEntities: inputData.entities.length,\n  totalRelationships: inputData.relationships.length\n};\n\n// 返回处理后的数据\nconst raw = [\n  {\n    json: {\n      original: inputData,\n      processed: processedData,\n      isValid: true,\n      timestamp: new Date().toISOString()\n    }\n  }\n];\n\n// return [{'processedData': processedData}];\n\n// 如果你只是想验证和传递原始JSON，使用这个简化版本：\n/*\nreturn [\n  {\n    json: $input.all()[0].json\n  }\n];\n*/\n\ntry { return raw; }\ncatch(e){ throw new Error(\"Bad JSON: \"+e.message); }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-424,-940],"id":"9e6b3f46-95a3-4cd0-be3f-115c6c96af1c","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2560,-390],"id":"179f68bf-b2f4-4918-b9fb-165a36c355fe","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"return [\n  {\n    \"text\": \"```json\\n{\\n  \\\"reportYear\\\": 2023,\\n  \\\"entities\\\": [\\n    {\\n      \\\"entityId\\\": \\\"PERSON_LEE_CHOO_KEAT\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Lee Choo Keat\\\",\\n      \\\"mentions\\\": [\\n        \\\"Mr Lee Choo Keat\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_NG_SER_MENG\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Ng Ser Meng\\\",\\n      \\\"mentions\\\": [\\n        \\\"Ng Ser Meng\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_CHUA_ENG_SOON\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Chua Eng Soon\\\",\\n      \\\"mentions\\\": [\\n        \\\"Chua Eng Soon\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_CHIA_SOON_ENG\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Chia Soon Eng\\\",\\n      \\\"mentions\\\": [\\n        \\\"Chia Soon Eng\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_KHOO_SER_LING\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Khoo Ser Ling\\\",\\n      \\\"mentions\\\": [\\n        \\\"Khoo Ser Ling\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_LI_CHOO_KEAT\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Li Choo Keat\\\",\\n      \\\"mentions\\\": [\\n        \\\"Li Choo Keat\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"entityId\\\": \\\"PERSON_FOO_CHOO_KEAT\\\",\\n      \\\"type\\\": \\\"Person\\\",\\n      \\\"canonicalName\\\": \\\"Foo Choo Keat\\\",\\n      \\\"mentions\\\": [\\n        \\\"Foo Choo Keat\\\"\\n      ],\\n      \\\"NER_Confidence\\\": 0.9,\\n      \\\"source\\\": 19\\n    }\\n  ],\\n  \\\"relationships\\\": [\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_LEE_CHOO_KEAT\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Independent Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_NG_SER_MENG\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Independent Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_CHUA_ENG_SOON\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Independent Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_CHIA_SOON_ENG\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Non-Independent Non-Executive Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_KHOO_SER_LING\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Non-Independent Non-Executive Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_LI_CHOO_KEAT\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Non-Independent Non-Executive Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    },\\n    {\\n      \\\"sourceEntityId\\\": \\\"PERSON_FOO_CHOO_KEAT\\\",\\n      \\\"targetEntityId\\\": \\\"COMPANY_TEE_LAND_LIMITED\\\",\\n      \\\"role\\\": {\\n        \\\"category\\\": \\\"Director\\\",\\n        \\\"details\\\": \\\"Non-Independent Non-Executive Director\\\"\\n      },\\n      \\\"effectiveDate\\\": null,\\n      \\\"RED_Confidence\\\": 0.8,\\n      \\\"source\\\": 19\\n    }\\n  ]\\n}\\n```\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1020,-940],"id":"18bdf674-b574-4211-be92-700d0e90772d","name":"FixedLlmOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a01c8953-84ee-47dc-bf2a-dc081b32c4d1","leftValue":"={{ $json.useFixedTestLlmOuput }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1900,-865],"id":"18715e03-3575-4c25-934c-0f4e0bc4d49a","name":"useFixedTestLlmOutput"},{"parameters":{"assignments":{"assignments":[{"id":"8b875b35-0833-440e-af82-e4fd6e46f8a6","name":"useFixedTestLlmOuput","value":false,"type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2120,-865],"id":"aab38a72-22e3-41a6-aae6-e58832ac46a9","name":"SetFixedTestLlmOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-722,-940],"id":"ca688baa-3c7e-4897-b6d2-16c819523c59","name":"Merge3"},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $json['Company Name'].replaceAll(' ', '_') }}_{{ $json.Year }}_NER_RED.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[456,-390],"id":"b9307b6d-db65-4ef6-9265-6f56f155c86d","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=/files/files/NER_RED/{{ $binary.data.fileName }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[676,-390],"id":"1e93d3ee-603a-423b-aaae-45bb3be4ba10","name":"Read/Write Files from Disk1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[16,-790],"id":"2d250737-0386-42fc-a4ad-39b033688a01","name":"Merge1"},{"parameters":{"jsCode":"return [{\n  \"metadata\": {\n    \"source_pdf\": \"835744_DBS%20Annual%20Report%202024.pdf\",\n    \"extraction_date_utc\": \"2025-07-03T10:25:02.150204+00:00\",\n    \"processor_script\": \"parallel_pdf_processor.py\",\n    \"total_pages_extracted\": 8,\n    \"report_year\": \"UNKNOWN\",\n    \"ar_confidence\": 100\n  },\n  \"content\": [\n    {\n      \"page_number\": 25,\n      \"text\": \"Corporate governance\\nCorporate  \\ngovernance\\nAward  \\nWe were awarded the ‘Most \\nTransparent Company Award, \\nFinancials Category’ by the Securities \\nInvestors Association of Singapore at \\nthe Investors’ Choice Awards.\\nGovernance framework\\nOur governance framework is anchored \\non competent leadership, effective \\ninternal controls, a strong risk culture and \\naccountability to stakeholders. Our Board \\nplays a key role in setting our governance \\nstandards to meet our stakeholders’ \\nexpectations and our leadership model \\nensures an appropriate balance of power, \\naccountability and independence in decision-\\nmaking across our various functional and \\ngeographic units.\\nOur corporate governance practices comply \\nwith the Banking (Corporate Governance) \\nRegulations 2005 (Banking Regulations) and \\nthe Financial Holding Companies (Corporate \\nGovernance of Designated Financial Holding \\nCompanies with Bank Subsidiary) Regulations \\n2022 (FHC Regulations) (together with the \\nBanking Regulations, the Regulations). We \\nalso comply, in all material aspects, with the \\nGuidelines on Corporate Governance for \\nDesignated Financial Holding Companies, \\nBanks, Direct Insurers, Reinsurers and \\nCaptive Insurers issued by the Monetary \\nAuthority of Singapore (MAS) on 9 November \\n2021, which comprises:\\ni) the Code of C orporate Governance 2018 \\n(2018 Code); and\\nii) the additiona l guidelines added by the \\nMAS to take into account the unique \\ncharacteristics of the business of banking, \\ngiven the diverse and complex risks \\nundertaken by financial institutions \\n(Additional Guidelines).\\nWe have described our corporate governance \\npractices for our financial year ended 31 December \\n2024 with specific reference to the 2018 Code and the \\nAdditional Guidelines. A summary disclosure of our \\ncompliance with the express disclosure requirements \\nin the 2018 Code and the Additional Guidelines, have \\nbeen provided on pages 106 to 108.\\nCompetent leadership\\nOur Board\\nKey Information on our Directors\\nMr Peter Seah\\nOur Chairman, Mr Peter Seah, sits on all Board committees (other than the Board \\nSustainability Committee) and also chairs the Board Executive Committee (Board EXCO). \\nMr Seah performs a key role as an ambassador for DBS in our dealings with various \\nstakeholders as well as in ensuring effective communication with our shareholders. \\nHe guides the Board through its decision-making process and ensures that the Board \\noperates effectively as a team.\\n10 Members\\nChairman\\nBoard\\nChairman, Board and CEO\\nMr Peter Seah\\nMr Piyush Gupta*\\nMr Olivier Lim**\\nMr Chng Kai Fong\\nDr Bonghan Cho\\nMr David Ho\\nMs Punita Lal\\nMs Judy Lee\\nMr Anthony Lim\\nMr Tham Sai Choy\\nProposed Director  \\n(Ms Tan Su Shan*)\\nThe Board directs DBS in the conduct of its affairs and provides sound leadership to \\nmanagement. The make-up of our Board reflects diversity of gender, nationality, age, skills \\nand knowledge. Independent Directors form the majority of the Board and there are no \\nalternate Directors on our Board.\\n*Retirement of Mr Gupta and Appointment of Ms Tan\\nMr Gupta will be retiring from the Board and as Chief Executive Officer (CEO) following \\nthe conclusion of the DBS Annual General Meeting (AGM) scheduled for 28 March 2025.  \\nMs Tan Su Shan’s strategic orientation, track record in building businesses, familiarity \\nwith technology, leadership ability as well as strong stakeholder management and \\ncommunication skills make her the ideal successor. \\nSubject to the approval of the shareholders at the AGM, Ms Tan will be appointed to the \\nBoard as an Executive Non-Independent Director. The number of female directors will \\nincrease to three thereafter.\\n**Lead Independent director\\nThe Lead Independent director, Mr Olivier Lim, had regular private sessions with the other \\nindependent Directors in the course of the year and provided feedback to the Chairman \\nwhere necessary.\\nThere is a very positive and constructive working relationship between our Chairman  \\nand CEO. The Board is confident that this will continue after the appointment of Ms Tan, \\nwho has been in DBS since 2010, as CEO after the conclusion of the AGM in March 2025. \\nOther than the CEO, none of the other Directors is a former or current employee of DBSH \\nor its subsidiaries.\\nThe table below sets out key information on our Directors, the number of meetings which our Directors attended during 2024 as well as the \\nremuneration of each Director for financial year ended 31 December 2024 (FY2024). The remuneration of Non-Executive Directors (including \\nthe Chairman) does not include any variable component. Please refer to page 62 for more details on the Non-Executive Directors’ fee structure \\nfor FY2024. \\nDirector/ \\nIndependence status\\nMeetings attendance record\\n(1 January to 31 December 2024) Total remuneration for FY2024 (SGD)\\nBOD(1) NC(2) EXCO(3) AC(4) BRMC/ \\nBTRC(5) CMDC(6) BSC(7) AGM Offsite(8)\\nDirectors’ \\nfees(a)(SGD)\\nShare-based \\nremuneration(b) \\n(SGD)\\nOthers(c)\\n(SGD)No. of meetings held in 2024\\n6 6 10 5 5/6 4 4 1 1\\nMr Peter Seah, 78\\nNon-Executive and  \\nNon-Independent Chairman\\n•\\n Chairman sinc e 1 May 10\\n• Board membe r since 16 Nov 09\\n• Last re-elected  on 31 Mar 23\\n6 6 10 5 5/6 4 – 1 1\\nTotal: 1,994,962.97\\n1,362,550 583,950 48,462.97\\nMr Olivier Lim, 60\\nNon-Executive and Lead \\nIndependent Director\\n•\\n Board membe r since 7 Nov 17\\n• Last re-elected  on 31 Mar 22\\n• Lead Independent Director \\nsince 29 Apr 20\\n6 6 10 – 5/6 – – 1 1\\nTotal: 453,000\\n317,100 135,900 –\\nDr Bonghan Cho, 60\\nNon-Executive and Independent \\nDirector\\n•\\n Board membe r since 26 Apr 18\\n• Last re-elected  on 31 Mar 22\\n6 6 – – 5/6 4 – 1 1\\nTotal: 334,500\\n234,150 100,350 –\\nMr Tham Sai Choy, 65\\nNon-Executive and Independent \\nDirector\\n•\\n Board membe r since 3 Sept 18\\n• Last re-elected  on 31 Mar 22\\n6 6 – 5 5/6 – 4 1 1\\nTotal: 448,500\\n313,950 134,550 –\\nMs Punita Lal, 62\\nNon-Executive and Independent \\nDirector\\n•\\n Board membe r since 1 Apr 20\\n• Last re-elected  on 31 Mar 23\\n5 6 – 5 – 3 – 1 1\\nTotal: 292,000\\n204,400 87,600 –\\nMr Anthony Lim, 66\\nNon-Executive and Independent \\nDirector\\n•\\n Board membe r since 1 Apr 20\\n• Last re-elected  on 31 Mar 23\\n6 – 10 – 5/6 4 – 1 1\\nTotal: 389,500\\n272,650 116,850 –\\nMr Chng Kai Fong, 46\\nNon-Executive and Non-\\nIndependent Director\\n•\\n Board membe r since 31 Mar 21\\n• Last re-elected  on 28 Mar 24\\n6 6 – 5 – – 3 1 1\\nTotal: 303,000(d)\\n303,000 – –\\nMs Judy Lee, 57\\nNon-Executive and Independent \\nDirector\\n•\\n Board membe r since 4 Aug 21\\n• Last re-elected  on 28 Mar 24\\n6 – – 5 5/6 4 4 1 1\\nTotal: 466,000\\n326,200 139,800 –\\nDBS Annual Report 2024    Making Greater Impact46 47\"\n    },\n    {\n      \"page_number\": 30,\n      \"text\": \"Board Renewal\\nBoard renewal is a key focus for the Board. \\nThe NC conducts an annual review of each \\nDirector and the composition of the Board \\nand Board committees. New Directors will be \\nintroduced gradually so that the Board and \\nBoard committees have a smooth transition \\nperiod.\\nDiversity in, inter alia, gender and skillsets \\nwere one of the key considerations in the \\nboard renewal process to ensure that (i) \\nthe Board is appropriately balanced to \\nsupport the long-term success of DBS; (ii) \\nthe skillsets of the retiring Directors are \\nreplaced and/ or the collective skillsets of the \\nDirectors is supplemented; and (iii) different \\nperspectives are brought to the Board. \\nOther key considerations include (i) whether \\nthe candidate would fit in with our Board’s \\nculture and diversity; (ii) the independence \\nstatus of the candidate; and (iii) whether the \\ncandidate would be able to commit sufficient \\ntime to fulfil the duties of a Director. A skills \\nmatrix is used to assess if the skills and \\nexperience of a candidate complement those \\nof the existing Board members. Potential \\ncandidates are informed of the level of \\ncontribution and commitment expected of a \\nDBS Director.\\nAs part of the Board renewal process:\\n(i) Mr Piyush Gu pta will be stepping down \\nfrom the Board at the conclusion of the \\n2025 Annual General Meeting (2025 \\nAGM), having served on the Board for \\nmore than 15 years; and\\n(ii) Subject to sha reholders’ approval, \\nMs Tan Su Shan will be appointed \\nto the Board at the 2025 AGM. With \\nMr Gupta’s retirement and Ms Tan’s \\nappointment, while the Board will remain \\nat 10 members and the proportion of \\nIndependent Directors will remain the \\nsame at 70%, the percentage of female \\ndirectors on the Board will increase from \\n20% to 30%. \\nInduction and Training for Directors \\nThe NC oversees the onboarding of new \\nDirectors. All new Directors go through our \\ninduction programme, which covers the \\nduties and obligations of a Director and \\nthe responsibilities of, and work carried \\nout by the Board committees. We provide \\na Director’s pack, which acts as an aide \\nmemoire for the information covered by \\nthe induction programme. We have briefing \\nsessions for Directors given by members \\nof senior management on the various \\nbusinesses of DBS and its supporting \\nfunctions. The NC is also responsible for \\nensuring that new Directors with no prior \\nexperience as a director of a listed company \\nin Singapore undergo training in the roles \\nand responsibilities of a director of a listed \\ncompany. In this regard, Ms Tan Su Shan, \\nhaving served on the Board of a listed \\ncompany in Singapore previously, is familiar \\nwith the requisite responsibilities.\\nAnnual review of Directors’ \\nindependence \\nThe NC reviews and determines annually \\nwhether each Director is independent in \\naccordance with the stringent standards \\nrequired of financial institutions prescribed \\nunder the Regulations. Under the \\nRegulations, an “independent director” is \\ndefined to mean a Director who is:\\n•\\n independent f rom any management and \\nbusiness relationship with DBS;\\n• independent f rom any substantial \\nshareholder of DBS; and\\n• has n ot served on the Board of DBS for a \\ncontinuous period of nine years or longer.\\nThe NC assessed and concluded that (i) all \\nDirectors are considered to be independent \\nfrom business relationships with DBS; (ii) \\nwith the exception of Mr Piyush Gupta, all \\nDirectors are considered to be independent \\nfrom management relationships with DBS;  \\n(iii) with the exception of Mr Chng Kai Fong, all \\nDirectors are considered to be independent \\nfrom DBSH’s substantial shareholder, \\nTemasek Holdings (Private) Limited \\n(Temasek). Mr Chng, who is the Permanent \\nSecretary (Information and Development) \\nfor the Ministry of Digital Development and \\nInformation and concurrently the Permanent \\nSecretary (Development) (Cybersecurity) \\nin the Prime Minister’s Office, Singapore, is \\nconsidered not independent of Temasek \\nas the Singapore government is its ultimate \\nowner; and (iv) Mr Peter Seah is a Non-\\nIndependent Director as he has served on \\nthe Board for more than nine years. Based \\non the NC’s assessment, the Independent \\nDirectors are Dr Bonghan Cho, Mr David Ho, \\nMs Punita Lal, Ms Judy Lee, Mr Olivier Lim, Mr \\nAnthony Lim and Mr Tham Sai Choy.\\nAlthough Mr Piyush Gupta, Mr David Ho, Ms \\nJudy Lee, Mr Olivier Lim, Mr Anthony Lim, Mr \\nPeter Seah and Mr Tham Sai Choy are on \\nthe boards of companies that have business \\nrelationships with DBS, and/ or are also \\ndirectors of companies in which Temasek has \\ninvestments (Temasek portfolio companies), \\nthe NC considers these Directors (i) \\nindependent of business relationships as the \\nrevenues arising from such relationships are \\nnot material; and (ii) independent of Temasek \\nas their appointments on the boards of \\nTemasek portfolio companies are non-\\nexecutive in nature and they are not involved \\nin the day-to-day conduct of the businesses \\nof the Temasek portfolio companies. In \\naddition, none of these Directors sit on \\nany of the boards of the Temasek portfolio \\ncompanies as a representative of Temasek \\nand they do not take instructions from \\nTemasek in acting as Directors.\\nBoard performance and evaluation \\nThe NC makes an assessment at least once \\na year to determine whether the Board and \\nBoard committees are performing effectively \\nand identifies steps for improvement. The \\nNC believes that it is important to obtain \\nan independent perspective on the Board’s \\nperformance periodically and to gain insights \\non the Board’s performance against peer \\nboards and best practices. An external \\nevaluator was last engaged to conduct \\nthe Board performance evaluation for the \\nfinancial year ended 2023.\\nIn 2024, the NC decided to use the same \\nevaluation questionnaire from 2023, \\nincorporating additional questions for \\ntechnology risks, to facilitate benchmarking. \\nThe questionnaire included questions on \\nclarity on key issues and strategy, risk and \\ntechnology risk oversight, Board culture, \\ncapability, diversity, meetings, processes, \\nstructure and support, stakeholder relations, \\noverall Board dynamics and the effectiveness \\nof Board and Board committees. Each \\nDirector was asked to complete the \\nquestionnaire and submit it directly to the \\nGroup Secretary who collated the responses \\nand produced a summary report for the NC. \\nThe NC analysed the report and submitted its \\nfindings to the Board. The Board (i) reviewed \\nthe evaluation results, which showed \\nconsistently high performance across all \\ncategories, reflecting the Board’s continued \\neffectiveness and strong governance, and (ii) \\ndiscussed the feedback received from several \\ndirectors.  \\nIn addition to the annual Board evaluation \\nexercise, the NC also conducts an annual \\nreview of each Director to determine \\nwhether each Director remains qualified \\nfor office. In making its determination, the \\nNC will take into account (i) the Director’s \\nage, track record, experience, skills and \\ncapabilities; (ii) whether each Director is \\nable to and has been adequately carrying \\nout his/ her duties as a Director, including \\nthe contributions and performance of each \\nDirector; and (iii) whether each Director has \\ncommitted sufficient time to his/ her duties \\nas a director of DBS. The Board is satisfied \\nthat each Director has diligently discharged \\nhis or her duties as a Director of DBS and has \\ncontributed meaningfully to DBS.\\nDirectors’ time commitment\\nThe meeting attendance records of \\nall Directors as well as a list of their \\ndirectorships of listed companies and their \\nprincipal commitments are fully disclosed \\nin the Annual Report. The NC assesses each \\nDirector’s ability to commit time to DBS’ \\naffairs in accordance with internal guidelines \\nwhich take into account the number of \\nother board and committee memberships \\na Director holds, as well as the size and \\ncomplexity of the companies in which \\nhe/ she is a board member. Additionally, \\neach Director is required to complete an \\nannual self- assessment of his/ her time \\ncommitments.\\nWhile the Board has not set a maximum \\nnumber of listed company board \\nrepresentations a Director may hold, all \\nDirectors appreciate the high level of \\ncommitment required of them. All Directors \\nhave met the requirements under the NC’s \\nguidelines. Based on the recent individual \\nDirector self-assessment for FY2024 and \\nthe attendance record of Board and Board \\nCommittee meetings during the year, the NC \\nwas satisfied that where a Director had other \\nlisted company board representations, and/ \\nor other principal commitments, the Director \\nwas able and had been adequately carrying \\nout his/ her duties as a director of DBS.\\nDirectors’ tenure\\nThe NC believes that it is in the interest \\nof DBS for the Board to comprise both \\nDirectors with long tenure, who bring deep \\ninstitutional knowledge and an understanding \\nof the banking industry and those with \\nshorter tenures, who offer fresh ideas \\nand perspectives. There are currently two \\nDirectors, Messrs Peter Seah and Piyush \\nGupta, who have served for more than 15 \\nyears, and this is balanced by the progressive \\nrefreshing of the Board where seven long-\\nserving Directors have stepped down and \\neight new Directors have been appointed \\nsince November 2017 (when we commenced \\nthe refreshing process). \\nAs part of this ongoing refreshment, Mr \\nGupta, who has served on the Board for \\nover 15 years, will step down as a Director \\nfollowing his retirement as CEO at the \\nconclusion of the AGM. He will be succeeded \\nby Ms Tan Su Shan. This transition further \\nenhances the Board’s renewal while \\nmaintaining the balance between experience \\nand fresh perspectives.\\nThe NC specifically considered the skillsets \\nand contributions of Mr Seah. The NC \\ndeliberated and agreed that it is in DBS’ \\ninterests for Mr Seah to continue serving on \\nthe Board of DBS as Mr Seah would be able \\nto provide leadership, stability and continuity \\nfollowing the leadership transition period \\nfrom Mr Gupta to Ms Tan Su Shan. Mr Seah \\nis a veteran former banker with wide industry \\nexperience and has been instrumental in the \\ngrowth and transformation of DBS over the \\npast 15 years. Mr Seah’s deep knowledge \\nof DBS’ strategic priorities, operational and \\ninstitutional culture will provide invaluable \\nsupport to Ms Tan as the incoming Chief \\nExecutive Officer. His continued presence on \\nthe Board will also reassure key stakeholders \\nof the continuity of DBS’ strategic direction. \\nThis stability is vital as DBS navigates evolving \\nglobal challenges and pursues its growth \\nambitions. \\nRe-election of Directors\\nUnder the Constitution of DBSH, one-third \\nof the Directors, comprising  those who are \\nlongest-serving since their last re-election, \\nare required to retire from office and, if \\neligible, stand for re-election at each AGM. \\nBased on this rotation process, each Director \\nis required to submit himself or herself for \\nre-election by shareholders at least once \\nevery three years. In addition, new Directors \\n(who are appointed in between AGMs) are \\nrequired under DBSH’s Constitution to \\nstand for re-election at the first AGM after \\ntheir appointment. The NC reviews and \\nrecommends to the Board the rotation and \\nre  election of Directors at the AGM.\\nPrior to each AGM, Group Secretariat informs \\nthe NC which Directors are required to \\nretire at that AGM. The NC will then review \\nthe composition of the Board and decide \\nwhether to recommend to the Board the \\nre-election of these Directors, after taking \\ninto account factors such as their attendance, \\nparticipation, contribution, expertise and \\ncompeting time commitments.\\nAt the 2025 AGM, Mr Olivier Lim, Dr Bonghan \\nCho and Mr Tham Sai Choy will be retiring \\nby rotation. At the recommendation of the \\nNC and as approved by the Board, all three \\nDirectors will be standing for re-election. \\nReview of composition of Board \\nCommittees and Formation of BTC\\nThe NC regularly reviewed the size and \\ncomposition of the Board committees \\nin 2024 to ensure that all independence \\nrequirements continue to be met, and that \\nthe Board committees are of an appropriate \\nsize and comprise the appropriate balance of \\nskills, knowledge and experience, as well as \\ndiversity of nationality, age and gender.\\nIn 2024, to enhance the overall effectiveness \\nof the Board and its committees, the NC \\nrecommended the establishment of the \\nBTC. This reflects the increasing importance \\nof technology across all aspects of DBS’ \\noperations and its strategic direction. \\nThe expanded mandate of the BTC, \\nencompassing both risk management and \\nstrategic technology oversight, provides the \\nBoard with a more holistic and informed \\nperspective on technology-related matters \\nand challenges. In relation to this, the NC also \\nreviewed and endorsed the composition of \\nthe BTC, which includes Mr Olivier Lim as BTC \\nChairman, Mr Peter Seah, Mr Chng Kai Fong \\nand Dr Bonghan Cho as members, as well as \\n“In 2024, the NC recommended the \\nestablishment of a Board Technology \\nCommittee, to oversee technology \\nmatters, including technology strategy, \\narchitecture and risk management.  \\nAdditionally, the NC made key \\nrecommendations on DBS’ leadership \\nappointments, including the appointment \\nof Su Shan first as Deputy CEO in August \\n2024 and subsequently CEO at the \\nconclusion of the 2025 AGM, as well as \\nEugene as Chief Information Officer and \\nKwee Juan as Institutional Banking Group \\nHead.\\nThe NC had also reviewed the detailed \\nBoard evaluation results, which were \\nsubsequently presented to the Board. \\nThe Board continues to be well-managed \\nand effective in fulfilling its duties and \\nresponsibilities.” \\nTham Sai Choy\\nChairman, NC\\nNominating Committee \\nHighlights of NC’s activities in 2024 \\n \\nBoard renewal process \\nPlease refer to the Board highlights - 2024 section on \\npage 54.\\n \\nSelection criteria and nomination \\nprocess for Directors\\nBefore a new Director is appointed, suitable \\ncandidates are identified from various \\nsources. Thereafter, the NC conducts an \\nassessment to:\\n• review the candidate (including \\nqualifications, attributes, capabilities, \\nskills, age, past experience) to determine \\nwhether the candidate is fit and proper \\nin accordance with the fit and proper \\nguidelines issued by the MAS; and\\n• ascertain whether the candidate is \\nindependent from DBSH’s substantial \\nshareholder and/ or from management \\nand business relationships with DBS.\\nThe NC then interviews the short-listed \\ncandidates and makes its recommendations \\nto the Board. All Board appointments are \\nbased on merit, taking into account the \\ncontributions the candidates can bring to \\nthe Board to enhance its effectiveness. \\nUpon the appointment of a new Director, \\nthe NC will recommend to the Board his \\nor her appointment to the appropriate \\nBoard committee(s) after matching the \\nDirector’s skillset to the needs of each Board \\ncommittee.\\nCorporate governanceDBS Annual Report 2024    Making Greater Impact56 57\"\n    },\n    {\n      \"page_number\": 32,\n      \"text\": \"Corporate governance\\n“Strengthening DBS’ technology resilience \\nand business continuity remained a \\nkey area of focus in 2024. The BRMC \\nprovided close guidance and oversight \\nthrough the BRMC Technology Risk \\nCommittee of the progress of the bank’s \\nstrategy and initiatives for technology risk \\nmanagement.\\nOn overall risk management, the \\nBRMC monitored DBS’ risk governance, \\nmonitoring key risk areas such as \\nfinancial crime, cybersecurity and \\nliquidity risk management. Beyond our \\nregular risk management efforts, the \\nBRMC also assessed the risk implications \\nof key macroeconomic developments and \\ngeopolitical tensions on our portfolio and \\nfunding profile.\\nSetting the tone from the top to embed \\na strong risk culture will continue to be \\ncritical to DBS’ success.”\\nOlivier Lim\\nChairman, BRMC & BTRC\\n“The CMDC oversees Management’s \\ntalent review process, which is aimed at \\nstrengthening the bank’s talent pool and \\naligning its workforce with DBS’ strategic \\npriorities. A key focus is on succession \\nplanning, and the appointment of Su \\nShan as the next Group CEO reflects the \\nstrength of this process.  \\n \\nA review was also undertaken on \\nthe Group’s remuneration policy, \\nwith external consultants providing \\nbenchmarking data to ensure that \\nthe Group’s remuneration remained \\ncompetitive and in line with the Bank’s \\nperformance and market conditions.\\nThe CMDC noted the steady improvement \\nin DBS’ employee engagement – in the \\n2024 annual employee engagement \\nsurvey, the engagement rate of 91% was \\na record high.\\n \\nIn addition, the CMDC reviewed proposals \\nfrom an external consultant that will \\nbe used to determine the Directors’ fee \\nstructure for FY2025, to ensure that it \\nremains competitive and aligned with \\nindustry norms.”\\n \\nAnthony Lim\\nChairman, CMDC\\nBoard Risk Management Committee\\nCompensation and Management \\nDevelopment Committee \\nHighlights of BRMC’s activities in 2024\\nThe BRMC’s approach continued to \\nbe underpinned by a philosophy that \\nrisk management in complex and large \\norganisations is best served by holistically \\nintegrating governance, culture, talent, \\nstructure and processes.\\nThe BRMC convened at least quarterly to \\nreview the bank’s risk profile, risk dashboards \\nand other reports through a structured \\nand consistent agenda format. The BRMC \\nmonitored global political and economic \\nevents, the impact of interest rate hikes \\nand other factors that might have material \\nconsequences for our business.\\nIn 2024, the BRMC discussed the findings and \\nthe impact arising from scenario analyses \\nand portfolio reviews conducted on certain \\ncountries and specific sectors, including:\\n• Delayed rate c uts, coupled with high \\ninflation hindering economic growth and \\nincreasing financial risks for businesses \\nand consumers; and\\n• Real e state downturn across various \\nmarkets, particularly in China and  \\nHong Kong.\\nThe scenario analyses are in addition to the \\nreviews of various regulatory and internal \\nstress testing exercises.\\nThe BRMC also reviewed management’s \\nassessment of the impact arising from the \\nfollowing events:\\n•\\n Economic growth challenges in  China from \\nweak domestic consumption, overcapacity \\nand prolonged downturn in the real estate \\nsector;\\n•\\n US-China tens ions with potential widening \\nof tariffs and sanctions, intensified by the \\noutcomes of the 2024 US presidential \\nelection and the likely actions to be taken \\nby the president-elect; and\\n•\\n Geopolitical conflicts, between Iran and \\nIsrael, Russia and Ukraine, leading to \\ndisruption in supply chains and impacting \\noil prices.\\nThe BRMC was updated on the proactive \\napproaches taken to manage risks of \\nmarketable securities in the banking book. \\nIt was updated on funding strategies and \\nactions taken to mitigate liquidity risk, \\nparticularly focusing on strengthening USD \\nfunding resilience. It was kept informed of \\nthe utilisation of market risk (for both banking \\nand trading books) and liquidity risk (in all \\nmajor currencies and legal entities) limits, \\nincluding the various initiatives to strengthen \\nour liquidity channels and swift access to \\nfunding levers whenever required.\\nThe BRMC was advised on the key \\noperational risk profiles of the Group and the \\ncontinued focus on global trends on financial \\ncrime (such as AML/ CFT and digital scams), \\nrisk arising from sanctions evasion, as well as \\nfair dealing and conduct risks. \\nThe BRMC reviewed and approved the \\nrisk models governance framework, which \\ncovers the development, approval and \\nongoing performance monitoring. The BRMC \\nreceived regular updates on risk appetite and \\neconomic capital utilisation, and was apprised \\nof regulatory feedback and developments \\n(such as approaches for risk models and \\ncapital computation) and Basel requirements. \\nIn addition, the BRMC was updated on the \\naction plans following the internal group-wide \\nrisk and control culture survey conducted in \\n2023.\\nPlease refer to the section on ‘Risk Management’ on \\npages 84 to 100 for more information on the BRMC’s \\nactivities.\\n \\nBRMC Technology Risk Committee (BTRC)\\nThe BRMC Technology Risk Committee \\n(BTRC), a sub-committee to the BRMC, assists \\nthe BRMC in overseeing the management of \\ntechnology risk across the Group. \\nThe BTRC convened six times in 2024 to \\nreview the Bank’s key technology risk profiles \\nand cybersecurity risks. It reviewed the \\nmanagement’s actions taken to address \\nthe key findings and learnings from digital \\ndisruptions, and ongoing progress of the \\ninitiatives and programmes to strengthen \\ntechnology resiliency and credentials \\nmanagement. It also provided guidance \\non the operationalisation of the Group’s \\ntechnology risk appetite and the associated \\ncontrols and monitoring.  It was updated on \\nthe thematic reviews conducted by Line 2 on \\nthe bank’s technology capabilities and risk \\ngovernance.\\nThe BTRC reviewed the disaster recovery (DR) \\nstrategy, including DR validation results and \\nlearnings. It was apprised of the bank’s cloud \\nservices strategy and enhanced technology \\narchitecture.\\nThe BTRC was advised on the Technology \\nVendor Governance and Strategy (TVGS) \\nprogramme, established to enhance \\ntechnology vendor oversight. It received \\nupdates on the action plans from the \\ntechnology risk culture programme and the \\nindependent validation of remediation actions \\non incidents undertaken by the IT Assessor.\\nEstablishment of the Board Technology \\nCommittee (BTC)\\nIn January 2025, the BTRC was dissolved \\nwith the establishment of the BTC. The \\nBTC subsumes the key responsibilities of \\nthe BTRC, while also having a mandate for \\noversight of the Group’s technology strategy \\nand architecture.\\nHighlights of CMDC’s activities in 2024 \\n \\nTalent Review and Succession Planning \\nEach year, DBS conducts a comprehensive, \\nbank-wide talent review to strengthen the \\nGroup’s talent pool, aligning its workforce \\nwith DBS’ strategic priorities. This process \\nincludes evaluating DBS’ business strategy, \\noperating model and assessing the talent \\nbench to ensure it has the right leaders and \\nskills to drive its goals forward. A key part \\nof this review involves rigorous succession \\nplanning for senior roles, where inputs are \\nobtained from Country and Group Functional \\nHeads, followed by detailed evaluations with \\nthe CEO.\\nAnchored in the following six key criteria: \\nstrategic vision, leadership and culture, \\ndomain knowledge, stakeholder management \\nand communication, familiarity with \\ntechnology and the future of work, as \\nwell as business-building ability — DBS’ \\nsuccession planning framework ensures \\na comprehensive approach to leadership \\ndevelopment, fostering internal talent growth \\nby bridging leadership gaps with tailored \\ndevelopment plans, enabling seamless \\ntransitions into critical roles.\\nDBS’ announcement of Ms Tan Su Shan as \\nthe Bank’s next Group CEO in March 2025, \\nis a testament to the Bank’s efforts to groom \\nhome grown talent, having benchmarked \\nboth internal and external candidates against \\na comprehensive set of objective criteria. \\nThe review process extends beyond top \\nmanagement to several layers down and over \\nthe years, many key positions were filled by \\nthe Bank’s home-grown talent. In 2024, over \\n250 succession plans were reviewed and \\nclose to 20 talent review sessions with the \\nGroup CEO were held.\\nLearning and Leadership\\nDBS invests heavily in the development \\nof its people as guided by its Triple “E” \\nDevelopment Framework. Areas of focus for \\nlearning are determined by reviewing market \\ntrends and relevant skills needed to drive \\nits business. Across all its business units \\nand support units, DBS curated structured \\nlearning roadmaps and certification \\nprogrammes to equip employees with the \\nexpertise necessary for their roles. These \\npathways cover a wide range of skills, \\nfrom digital and data proficiency to risk \\nmanagement and sustainability. In 2024, \\nover 3,200 employees who are Application \\nDevelopers, Technology Risk Managers, \\nRelationship Managers and Credit Risk \\nManagers received training with certification. \\nAll DBS’ employees were also provided access \\nto more than 10,000 curated courses on DBS’ \\nlearning portal, Learning Hub. Collectively, \\nDBS’ employees completed over 1.4 million \\ntraining courses in 2024, reflecting the strong \\ncommitment to skill development across the \\norganisation.\\nTo future-proof its workforce, DBS embarked \\non a multi-year upskilling and reskilling \\njourney since 2021 to redesign jobs, upskill, \\nand reskill employees to prepare them \\nfor new and enhanced roles. In 2024, \\nover 12,700 employees were in scope for \\nupskilling or reskilling, with more than 9,700 \\nhaving commenced or successfully completed \\ntheir respective learning roadmaps. Among \\nthem, over 4,600 employees have completed \\ntraining and successfully stayed in their new \\nroles for more than six months.\\nAs technology continues to evolve, DBS \\ntakes a proactive approach to equipping \\nour employees with the skills needed \\nto harness the potential of Generative \\nAI (Gen AI). DBS’ training empowers \\nemployees to skilfully utilise Gen AI tools, \\nwhile ensuring appropriate oversight \\nthrough the identification and mitigation \\nof associated risks. DBS also continues to \\nequip employees with knowledge and tools \\nto play their part in its sustainability efforts \\nthrough the DBS Sustainability Learning \\nCampus. In 2024, advancing empathy \\nthrough DBS’ RED (Respectful, Easy to deal \\nwith, Dependable) framework was a key \\npriority in elevating customer experience. \\nAs part of this commitment, DBS launched \\nits flagship training programme, Empathetic \\nProfessional, to equip its frontline staff with \\nthe skills needed to deliver empathetic and \\noutstanding service.\\nTo further entrench its transformational \\nleadership culture, in 2024, DBS conducted \\nover 200 Transformational Sprints, a series \\nof structured experiential workshops that \\ncontributed to improved collaboration and \\ngreater team effectiveness. Additionally, more \\nthan 1,000 leaders participated in T-Circles, \\nwhich are social learning communities \\nwhere experienced senior leaders mentor \\nnext-generation leaders in leadership best \\npractices. \\nGroup remuneration policy and annual \\nvariable pay pool\\n \\nPlease refer to the Remuneration Report on pages 69 \\nto 73 for details on the remuneration of the CEO and \\nDBS’ remuneration strategy.\\nThe CMDC reviewed and approved DBS’ \\nremuneration policy and the annual variable \\ncompensation pool for FY2024, which were \\nalso endorsed by the Board. The CMDC \\nprovided oversight of the remuneration \\nprinciples of the CEO, senior executives \\nand control functions to ensure that \\nthey remained in line with the Financial \\nStability Board’s guidelines. As part of the \\nreview process, the CMDC appraised DBS’ \\nperformance against the balanced scorecard \\nOversight of Group Audit\\nThe AC has direct oversight of Group Audit. \\nThe AC receives reports from Group Audit at \\neach quarterly AC meeting, which provide the \\nAC with an update on (i) the overall control \\nenvironment (based on the results of the \\naudit reviews in the preceding quarter);  \\n(ii) the key findings from audit reviews and  \\nthe remediation actions which have been, or \\nwill be, taken to address these findings;  \\n(iii) an overview of the audit issues (including \\nre-aged and past due issues) and audit \\nreports issued during the preceding quarter; \\nand (iv) any changes to the audit plan for  \\nAC approval.\\nWith the appointment of Group Audit as the \\nindependent Assessor to review and provide \\nregular reports to the Board and MAS on \\nthe progress of the Bank’s Technology Uplift \\n(T-Up) programme, the AC receives the \\nAssessor’s reports which are also presented \\nand discussed at the Board Technology Risk \\nCommittee meetings. These progress reports \\nare submitted to MAS upon the  \\nAC’s approval.\\nPlease refer to pages 64 to 65 for details on Group \\nAudit’s key responsibilities and processes.\\nAs Assessor of the Bank’s T-Up programme, \\nGroup Audit’s scope includes the tracking of \\nthe Bank’s progress on the IT improvement \\ninitiatives. This includes the assessment \\nof the adequacy and effectiveness of the \\nmeasures taken to strengthen the Bank’s \\nTechnology Risk Management capabilities. To \\nprovide a holistic perspective, the AC was also \\nupdated on IT areas audited which are not \\npart of T-Up such as Cybersecurity including \\nApplication security, Functional/Privileged \\nID management and as well as Business \\nContinuity Management in response to new \\nMAS guidelines and circulars related to IT \\nDisaster Recovery preparedness. Key non-IT \\naudits covered includes post integration \\nreview of Citi Consumer Taiwan business, \\nIndia Branch banking and new partnerships, \\nthematic reviews of AML/CFT and fraud/ scam \\ncontrols as well as the audit of India GIFT city, \\nas required by MAS. \\nThe AC assessed the adequacy, effectiveness \\nand independence of Group Audit and is of \\nthe view that Group Audit is independent, \\neffective and adequately resourced. Group \\nAudit understands the risks that the Group \\nfaces and has aligned its work to review these \\naccordingly.\\nIn 2024, there was at least one scheduled \\nprivate session annually for the Head of \\nGroup Audit to meet the AC. In addition, the \\nChair of the AC meets the Head of Group \\nAudit regularly, at least once every quarter, \\nto review the key audit reports, findings and \\nother significant matters of Group Audit.\\nDBS Annual Report 2024    Making Greater Impact60 61\"\n    },\n    {\n      \"page_number\": 34,\n      \"text\": \"Corporate governance\\nThe GAA covers internal authority only and \\ndoes not override any specific provisions \\narising from statutory, regulatory, exchange \\nlisting requirements, or DBSH’s Constitution. \\nThe GAA is regularly reviewed and updated \\nto accommodate changes in the scope and \\nactivities of DBS’ business and operations. \\nThe Board approves the GAA and any change \\nto it.\\nInternal controls framework \\nDBS’ internal controls framework covers \\nfinancial, operational, compliance and \\ninformation technology controls, as well \\nas risk management policies and systems. \\nThe Board, supported by the AC and BRMC, \\noversees the Group’s system of internal \\ncontrols and risk management. DBS adopts \\nthe Three Lines Model for risk management, \\nwhere each line has clear roles and \\nresponsibilities.\\nFirst line\\nDBS’ business and support units are its \\nfirst line. Their responsibilities include the \\nidentification and management of risks \\narising from and relating to their respective \\nareas of responsibilities and ensuring that \\nour operations remain within approved \\nboundaries of our risk appetite and policies. \\nDBS has an established incident notification \\nprotocol that sets out processes for the \\nescalation of incidents according to the level \\nof severity. In this way, appropriate levels \\nof management are made aware of such \\nincidents and can take action accordingly. \\nThere are also well-defined procedures \\nfor the escalation, investigation and follow \\nup of any reported wrong-doing by a DBS \\nemployee, customer, vendor or third party.\\nSecond line \\nDBS’ second line, residing primarily in the \\nRisk Management Group and Group Legal \\nand Compliance, provide independent risk \\noversight, monitoring and reporting. They \\nare responsible for the development and \\nmaintenance of risk management policies \\nand processes and provide objective review \\nand challenge on the activities undertaken by \\nbusiness and support units.\\nIn 2024, DBS implemented several changes \\nto its second line to strengthen non-financial \\nrisk governance:\\n(i) For more obje ctive review and effective \\nchallenge, the risk oversight over third-\\nparty management, business continuity \\nand cybersecurity was consolidated into \\nthe second line under Risk Management \\nGroup; \\n(ii) Following the  onboarding of the Group \\nHead of Technology Risk in late 2023, \\nDBS enhanced its overseas technology \\ngovernance, strengthened its capacity \\nto uplift technology risk culture and \\naugmented the Risk and Control Self-\\nAssessment (RCSA) with an expanded risk \\nand control library; and\\n(iii) Recognising t he increasing complexities \\nassociated with pervasive use of data \\nand artificial intelligence, a dedicated \\nsecond line function was established \\nwithin Risk Management Group for \\nmore effective oversight over data \\nand AI risk governance. This function \\nprovides independent assurance on \\nthe effectiveness of data and AI risk \\nmanagement policies and approaches, \\nincluding adaptation to emerging \\ntechniques.\\nThird line\\nGroup Audit forms the third line. It provides \\nan independent assessment and assurance \\non the reliability, adequacy and effectiveness \\nof DBS’ system of internal controls, risk \\nmanagement, governance framework and \\nprocesses. \\nBoard, CEO and \\nSenior Management\\nProvides oversight of the three lines model\\nFirst line Second line Third line \\nRole Own and manage risks in respective \\nareas of responsibility \\nProvide independent risk oversight, \\nmonitoring and reporting Provide independent assurance\\nUnit Business and support units Risk Management Group, Group \\nLegal and Compliance Group Audit\\nGroup Audit\\nKey responsibilities and processes \\nGroup Audit is independent of the activities \\nit audits. Its objectives, scope of authority \\nand responsibilities are defined in the Audit \\nCharter, which is approved by the AC. Group \\nAudit reports functionally to the Chairperson \\nof the AC and administratively to the CEO. \\nGroup Audit’s responsibilities include:\\n•\\n Evalua ting the reliability, adequacy and \\neffectiveness of the Group’s system \\nof internal controls, risk management, \\ngovernance framework and processes;\\n•\\n Providing an o bjective and independent \\nassessment of the Group’s credit portfolio \\nquality, the execution of approved credit \\nportfolio strategies and control standards \\nrelating to credit management processes;\\n•\\n Reviewing whe ther DBS complies with \\nlaws and regulations and adheres to \\nestablished policies; and\\n•\\n Reviewing whe ther management is taking \\nappropriate steps to address control \\ndeficiencies.\\nGroup Audit adheres to the DBS Code \\nof Conduct and is guided by the Mission \\nStatement in the Audit Charter. It adopted \\nthe Code of Ethics and aligned its practices \\nwith the International Professional Practices \\nFramework established by the Institute of \\nInternal Auditors (IIA). In addition, it has \\nembedded IIA’s 10 Core Principles for the \\nProfessional Practice of Internal Auditing into \\nits activities.\\nGroup Audit has unfettered access to the AC, \\nthe Board and management, as well as the \\nright to seek information and explanation. \\nThe Head of Group Audit has a seat in the \\nGMC and attends all the business reviews \\nand strategic planning forums. The respective \\nheads of audit in each of the five key \\nlocations outside Singapore are part of that \\nlocation’s management team.\\nGroup Audit adopts a risk-based approach in \\nits auditing activities. An annual audit plan is \\ndeveloped using a structured risk and control \\nassessment framework through which the \\ninherent risk and control effectiveness \\nof each auditable entity in the Group is \\nassessed. This risk assessment methodology \\nand approach are aligned with that of the \\nGroup, including the risk taxonomy.\\nThe assessment also covers risks arising \\nfrom new lines of business, new products \\nand emerging risks from DBS’ operating \\nenvironment. Audit projects are planned \\nbased on the results of the assessment, with \\npriority given to auditing higher risk areas \\nand as required by regulators.\\nAudit reports containing identified issues \\nand corrective action plans are reported to \\nthe AC and senior management. Progress \\nof the corrective action plans is monitored, \\nand past due action plans are included in \\nregular reports to the senior management \\nlisted in Singapore and Hong Kong. The \\npersonal investment policy discourages \\nemployees from engaging in short-term \\nspeculative trading.\\nRelated Party Transactions and \\nInterested Person Transactions \\nDBS has embedded procedures to \\ncomply with regulations governing related \\nparty transactions and interested party \\ntransactions.\\nFor related party transactions, we are \\nrequired to comply with regulations \\nprescribed by the MAS which set out the \\ndefinition, scope and general principles \\ngoverning such transactions, along with the \\nresponsibilities of banks to maintain oversight \\nand control so as to mitigate the risk of abuse \\narising from conflicts of interest.\\nWe have established a Board-approved \\nframework to give effect to these regulatory \\nrequirements. This, along with material \\nrelated party transactions, is reviewed by the \\nBoard regularly.\\nAll new Directors are briefed on relevant \\nprovisions that affect them. If necessary, \\nexisting credit facilities to related parties are \\nadjusted prior to a Director’s appointment, \\nand all credit facilities to related parties are \\ncontinually monitored.\\nWith respect to interested party transactions, \\nwe have established processes to comply \\nwith the requirements outlined in Chapter 9 \\nof the SGX-ST Listing Manual. The aggregate \\ncontract values of DBS’ interested person \\ntransactions entered into in 2024 are set out \\nin the table on page 66.\\nDBS enters into various interested person \\ntransactions with certain of Temasek’s \\nassociates on arm’s length commercial terms \\nand for the purpose of carrying out day-to-\\nday operations (such as leasing of premises, \\ntelecommunication/ data services, IT systems \\nand related services, redemption of air miles \\nby DBS/ POSB credit card holders, logistics \\nand security services).\\nMaterial contracts\\nSave for the transactions disclosed in the \\ntable on page 66 and via SGXNET, there were \\nno material contracts involving the interest \\nof any Director or controlling shareholder \\nof DBS entered into by DBS or any of its \\nsubsidiary companies, which are either still \\nsubsisting at the end of the financial year, or \\nif not then subsisting, entered into since the \\nend of the previous financial year.\\nand the AC. In all routine audits, Group \\nAudit evaluates the control environment \\nand management’s control awareness which \\nincorporates risk culture as guided by the \\nFinancial Stability Board’s Guidance on Sound \\nRisk Culture.\\nGroup Audit apprises regulators and external \\nauditors of all relevant audit matters. It works \\nclosely with external auditors to coordinate \\naudit efforts.\\nQuality assurance and key developments\\nIn line with leading practices, Group Audit \\nhas a quality assurance and improvement \\nprogramme (QAIP) that covers its audit \\nactivity and conforms to the International \\nStandards for the Professional Practice of \\nInternal Auditing. Effective 9 January 2025, \\nthe Institute of Internal Audit (IIA) requires \\ncompliance against a set of new Global \\nInternal Audit Standards. Given this new \\nrequirement, Group Audit in 2024 updated \\nits mandate/charter and guide to conform \\nwith the new standards. This was reviewed \\nby Ernst & Young (EY) and was subsequently \\npresented and approved at the November  \\nAC meeting.\\nAs part of the 2024 QAIP, EY conducted a \\nbenchmarking assessment which showed \\nthat DBS leads the industry in the use of data \\nanalytics and digital tools in its audit activities \\nsuch as risk assessment, fieldwork and \\nreporting. In EY’s maturity model assessment, \\nGroup Audit was also rated the highest \\nlevel for Purpose, People, Risk assessment \\nand Planning, Reporting, Enablement and \\nInnovation, and Impact, Influence and \\nInvolvement\\nIn 2024, Group Audit has substantially \\ncompleted the digitalization of its \\ndocumentation process using its digital \\nworkbench and rolled out across the \\nregion, after successful pilot in the prior \\nyear. In expanding its use of AI/Generative \\nAI to further sharpen its effectiveness and \\nefficiency, the audit team has also embarked \\non developing an Intelligent Co-worker tool. \\nTo fulfil its role as the Assessor of the \\nBank’s T-Up programme, Group Audit has \\nappointed Accenture to provide technology \\npractitioners with relevant skills/experiences \\nto support its assessment. As IT Risk Culture \\nis part of the T-Up initiative, Group Audit also \\nundertook the review of this initiative and \\nleveraged industry experts in Human Capital/\\nOrganisational Psychologists to support its \\nreview and recommendations.\\nIn October 2024, Group Audit as co-chair of \\nthe AML Audit Peer Group (AAPG), published \\nthe industry best practice paper through The \\nAssociation of Banks in Singapore on key \\nbaseline standards and good practices in the \\nconduct of AML/CFT reviews by internal and \\nexternal auditors. This initiative is supported \\nby MAS with the objective of strengthening \\nAML/CFT auditing practices across financial \\ninstitutions.\\nRule 720(1) Undertaking\\nIn compliance with Rule 720(1) of the Listing \\nManual, DBS has procured undertakings from \\nall of its Directors and executive officers to \\nuse their best endeavours to (a) comply with \\nthe relevant provisions of the Listing Manual; \\nand (b) procure that DBS complies with the \\nrelevant provisions of the Listing Manual.\\nDealings in securities\\nAlthough the Group has transitioned to a \\nsemi-annual reporting regime, the trading \\nupdates that are provided for the first and \\nthird quarters of each financial year are, \\nfor the purpose of the “black-out” policies \\nprescribed under Rule 1207(19) of the SGX \\nListing Rules, deemed to constitute “financial \\nstatements”. Accordingly, Directors and \\nemployees are prohibited from trading in \\nDBS’ securities (i) one month before the \\nrelease of the half-year and full-year financial \\nstatements; and (ii) two weeks before the \\nrelease of its quarterly financial statements \\nfor the first and third quarters of each \\nfinancial year.\\nIn addition, business units and subsidiaries \\nengaging in proprietary trading are restricted \\nfrom trading in DBS’ securities during \\nthe black-out period. Group Secretariat \\ninforms all Directors and employees of each \\nblack-out period ahead of time. Directors \\nand employees are prohibited at all times \\nfrom trading in DBS’ securities if they \\nare in possession of material non-public \\ninformation.\\nGMC members are only allowed to trade in \\nDBS’ securities within specific window periods \\n(15 market days immediately following the \\nexpiry of each black-out period) subject \\nto pre clearance. GMC members are also \\nrequired to obtain pre-approval from the CEO \\nbefore any sale of DBS’ securities. Similarly, \\nthe CEO is required to seek pre-approval \\nfrom the Chairman before any sale of DBS’ \\nsecurities. As part of DBS’ commitment to \\ngood governance and the principles of share \\nownership by senior management, the CEO \\nis expected to build up and hold at least the \\nequivalent of three times his annual base \\nsalary as DBSH shares over time.\\nDBS has put in place a personal investment \\npolicy which prohibits employees from \\ntrading in securities in which they possess \\nprice-sensitive information in the course \\nof their duties. Such employees are also \\nrequired to seek pre-clearance before making \\nany personal trades in securities and may \\nonly trade through the Group’s stockbroking \\nsubsidiaries and bank channels for securities \\nDBS Annual Report 2024    Making Greater Impact64 65\"\n    },\n    {\n      \"page_number\": 55,\n      \"text\": \"Summary of disclosures - Corporate governance\\nPrinciples and provisions of the 2018 Code - Express disclosure requirements Page reference in  \\nDBS Annual Report 2024\\nProvision 5.2\\nHow the assessments of the Board, its Board committees and each Director have been conducted, \\nincluding the identity of any external facilitator and its connection, if any, with the Company or any of its \\nDirectors.\\nPage 57\\nProvision 6.4\\nThe engagement of any remuneration consultants and their independence. Page 62\\nPrinciple 8\\nClear disclosure of remuneration policies, level and mix of remuneration, and procedure for setting \\nremuneration, and the relationship between remuneration, performance and value creation.\\nPages 69 to 73\\nProvision 8.1\\nThe policy and criteria for setting remuneration, as well as names, amounts and breakdown of \\nremuneration of (a) each individual Director and the CEO; and (b) at least the top five key management \\npersonnel (who are not Directors or the CEO) in bands no wider than SGD 250,000 and in aggregate the \\ntotal remuneration paid to these key management personnel.\\nFor the CEO and management:\\npages 71 to 73\\nFor non-executive Directors: \\npages 47 to 48\\nProvision 8.2\\nNames and remuneration of employees who are substantial shareholders of the Company, or are \\nimmediate family members of a Director, the CEO or a substantial shareholder of the Company, and \\nwhose remuneration exceeds SGD 100,000 during the year, in bands no wider than SGD 100,000. The \\ndisclosure states clearly the employee’s relationship with the relevant Director or the CEO or substantial \\nshareholder.\\nPage 63\\nProvision 8.3\\nAll forms of remuneration and other payments and benefits, paid by the Company and its subsidiaries to \\nDirectors and key management personnel of the Company, and also details of employee share schemes.\\nFor non-executive Directors: \\npages 47, 48, 62 to 63\\nFor key management \\npersonnel: pages 71 to 73\\nFor employee share schemes: \\npages 71, 111 to 112\\nProvision 9.2\\nWhether the Board has received assurance from (a) the CEO and the CFO that the financial records \\nhave been properly maintained and the financial statements give a true and fair view of the Company’s \\noperations and finances; and (b) the CEO and the other key management personnel who are responsible, \\nregarding the adequacy and effectiveness of the Company’s risk management and internal control \\nsystems.\\nPage 66\\nProvision 11.3\\nDirectors’ attendance at general meetings of shareholders held during the financial year. Pages 47 to 48\\nProvision 12.1\\nThe steps taken to solicit and understand the views of shareholders. Page 68\\nProvision 13.2\\nThe strategy and key areas of focus in relation to the management of stakeholder relationships during \\nthe reporting period.\\nPage 68, and section entitled \\n“Stakeholder engagement” in the \\nDBS Sustainability Report 2024\\nSummary of disclosures -  \\nCorporate governance\\nThis summary of disclosures describes our corporate governance practices with specific \\nreference to the express disclosure requirements in the principles and provisions of the 2018 \\nCode* pursuant to Rule 710 of the SGX Listing Manual and the Additional Guidelines*. \\n*  defined on page 46\\nExpress disclosure requirements in the 2018 Code and the Additional Guidelines\\nPrinciples and provisions of the 2018 Code - Express disclosure requirements Page reference in  \\nDBS Annual Report 2024\\nProvision 1.2\\nThe induction, training and development provided to new and existing Directors. Pages 56 and 58\\nProvision 1.3\\nMatters that require Board approval. Pages 63 to 64\\nProvision 1.4\\nNames of the members of the Board committees, the terms of reference of the Board committees, \\nany delegation of the Board’s authority to make decisions, and a summary of each Board committee’s \\nactivities.\\nPages 50 to 63\\nProvision 1.5\\nThe number of meetings of the Board and Board committees held in the year, as well as the attendance \\nof every Board member at these meetings.\\nPages 47 to 48\\nProvision 2.4\\nThe board diversity policy and progress made towards implementing the board diversity policy, including \\nobjectives.\\nPage 58\\nProvision 4.3\\nProcess for the selection, appointment and re-appointment of Directors to the Board, including the \\ncriteria used to identify and evaluate potential new directors and channels used in searching for \\nappropriate candidates.\\nPage 56\\nProvision 4.4\\nWhere the Board considers a Director to be independent in spite of the existence of a relationship \\nwhich may affect his or her independence, the nature of the Director’s relationship and the reasons for \\nconsidering him or her as independent should be disclosed.\\nPages 56 to 57\\nProvision 4.5\\nThe listed company directorships and principal commitments of each Director, and where a Director \\nholds a significant number of such directorships and commitments, the NC’s and Board’s reasoned \\nassessment of the ability of the director to diligently discharge his or her duties are disclosed.\\nPages 57, 184 to 188\\nDBS Annual Report 2024    Making Greater Impact106 107\"\n    },\n    {\n      \"page_number\": 94,\n      \"text\": \"DBS Annual Report 2024    Making Greater Impact184 185\\nPost Graduate Diploma in Management\\nIndian Institute of Management, Ahmedabad, India\\nBachelor of Arts, Economics \\nUniversity of Delhi, India\\nDate of first appointment as Director:\\n 9 November 2009\\nDate of last re-election as Director:\\n 28 March 2024\\nLength of service as Director:\\n 15 years 3 months\\nPresent directorships: \\nOther listed companies \\nNil\\nOther principal commitments \\n•\\n DBS Bank Ltd. Chief Executive Officer \\n \\n     & \\nDirector\\n•\\n DBS Bank (Ho\\nng Kong) Limited\\n Vice Chairman\\n•\\n Verified Impact Exchange Holdi\\nngs Pte. Ltd.\\n Director\\n•\\n Dr Goh Keng S\\nwee Scholarship Fund\\n Deputy Chairman\\n•\\n Lee Kuan Yew\\n Exchange Fellowship\\n Board Member\\n•\\n Mandai Park H\\noldings Pte. Ltd.\\n Chairman\\n•\\n National Resea\\nrch Foundation, Singapore\\n Board Member\\n•\\n The A\\nssociation of Banks in Singapore\\n Chairman\\n•\\n The Institute of Banking & Finance, Singapore\\n V\\nice Chairman\\n•\\n Singapore Indian Development Term Trustee \\n Association (SI\\nNDA)\\n \\n•\\n Singapore Man\\nagement University\\n Chairman, Board o\\nf \\n \\n     Trustees\\n•\\n Maste\\nrCard Asia Pacific Advisory Board\\n Board Member\\n•\\n BirdLi\\nfe International, UK\\n Co-Chairman,  \\n     Global \\nAdvisory Group\\n•\\n Indian Busines\\ns-leaders Roundtable under\\n Member, Managin\\ng\\n \\n Singapore Indian Development Council \\n Association (SI\\nNDA)\\n \\n•\\n Advisory Council on the Ethical \\nUse of \\n Council Member\\n Artificial Intelli\\ngence (AI) and Data, Singapore\\n \\n•\\n CNBC ESG Ne\\ntwork, USA\\n Member\\n•\\n International B\\nusiness Leaders’ Advisory\\n Council Member \\n Council for the\\n Mayor of Shanghai (IBLAC)\\n \\n•\\n SG Her Empowerment Limited\\n Special Adviser\\n•\\n The Fu\\nture Economy Advisory Panel,\\n Member  \\n Ministry of Tra\\nde and Industry, Singapore \\n \\n•\\n SGH Future He\\nalth Roundtable Member \\n Advisory Council, Singapore\\n \\nPast directorships in listed companies\\n  \\nheld over the preceding five years: \\nNil\\nSloan Masters Programme with a Master of Science in \\nManagement\\nStanford University, USA\\nMaster of Engineering and Bachelor of Arts (First Class Honours) \\nUniversity of Cambridge, UK\\nDate of first appointment as Director:\\n 31 March 2021\\nDate of last re-election as Director:\\n 28 March 2024\\nLength of service as Director:\\n 3 years 11 months\\nPresent directorships: \\nOther listed companies \\nNil\\nOther principal commitments \\n•\\n DBS Bank Ltd. Director\\n•\\n Ministry of Dig\\nital Development and\\n Permanent Secreta\\nry \\n Inform\\nation, Singapore(1) (Information and   \\n     Development)\\n \\n•\\n Prime Minister\\n’s Office, Singapore\\n Permanent Secreta\\nry \\n \\n     (Development)  \\n \\n     (Cybersecurity)\\n•\\n Info-C\\nommunications Media Development\\n Deputy Chairman \\n Authority (IMDA)\\n \\n•\\n Singapore Sym\\nphonia Company Limited\\n Director\\n•\\n The G\\novernment Technology Agency\\n Board Member \\n of Sin\\ngapore   \\nPast directorships in listed companies\\n  \\nheld over the preceding five years: \\nNil\\nBachelor of Business Administration (Honours)\\nNational University of Singapore\\nDate of first appointment as Director:\\n 16 November 2009\\nDate of appointment as Chairman:\\n 1 May 2010\\nDate of last re-election as Director:\\n 31 March 2023\\nLength of service as Director:\\n 15 years 3 months\\nPresent directorships: \\nOther listed companies \\n•\\n Singapore Airlines Limited\\n Chairman\\nOther principal commitments \\n•\\n DBS Bank Ltd. Chairman\\n•\\n DBS Bank (Ho\\nng Kong) Limited\\n Chairman\\n•\\n GIC Private Limited\\n Director\\n•\\n STT Communi\\ncations Ltd\\n Deputy Chairman\\n•\\n LaSalle College\\n of the Arts Limited\\n Chairman\\n•  National Wage s Council  Chairman\\n•\\n Council of Pre\\nsidential Advisers Member\\n•\\n University of th\\ne Arts Singapore Ltd.\\n Director\\nPast directorships in listed companies\\n  \\nheld over the preceding five years: \\nNil\\nBachelor of Engineering (First Class Honours), Civil Engineering\\nImperial College, London, UK\\nDate of first appointment as Director:\\n 7 November 2017\\nDate of appointment as  \\nLead Independent Director:\\n 29 April 2020\\nDate of last re-election as Director:\\n 31 March 2022\\nLength of service as Director:\\n 7 years 3 months\\nPresent directorships: \\nOther listed companies \\n•\\n StarHub Ltd.\\n Chairman\\n•\\n Raffle\\ns Medical Group Ltd\\n Director\\nOther principal commitments \\n•\\n DBS Bank Ltd. Director\\n•\\n Singapore Tou\\nrism Board\\n Chairman\\n•\\n Mone\\nyOwl Private Limited\\n Director\\nPast directorships in listed companies\\n  \\nheld over the preceding five years: \\n•\\n Banya\\nn Tree Holdings Limited\\n Director\\n•\\n PropertyGuru Group Limited\\n Chairman\\nPiyush Gupta, 65 \\nChief Executive Officer\\n \\nExecutive Director\\nChng Kai Fong, 46  \\n \\nNon-Executive and  \\nNon-Independent Director\\nPeter Seah Lim Huat, 78 \\nChairman\\nNon-Executive and  \\nNon-Independent Director\\nOlivier Lim Tse Ghow, 60 \\n \\nNon-Executive and  \\nLead Independent Director\\nBoard of  \\nDirectors\\nas at 7 February 2025\\nBoard of Directors\\n(1) \\n M\\ninistry of Digital Development and Information, Singapore was formerly \\nknown as Ministry of Communications and Information, Singapore.\"\n    },\n    {\n      \"page_number\": 104,\n      \"text\": \"Ordinary Resolution No. Special Business\\nResolution 11\\n(b)\\n unless varie\\nd or revoked by the Company in general meeting, the authority conferred on the Directors \\nof the Company pursuant to the Share Purchase Mandate may be exercised by the Directors at any time \\nand from time to time during the period commencing from the date of the passing of this Resolution and \\nexpiring on the earliest of:\\n(i)\\n the date on\\n which the next Annual General Meeting of the Company is held;\\n(ii)\\n the date by\\n which the next Annual General Meeting of the Company is required by law to be held; \\nand\\n(iii)\\n the date on\\n which purchases and acquisitions of Ordinary Shares pursuant to the Share Purchase \\nMandate are carried out to the full extent mandated;\\n(c)\\n in this Reso\\nlution:\\n “Average Cl\\nosing Price” means the average of the closing market prices of an Ordinary Share over the \\nlast five market days on which transactions in the Ordinary Shares on the SGX-ST or, as the case may be, \\nOther Exchange were recorded, immediately preceding the date of the market purchase by the Company \\nor, as the case may be, the date of the making of the offer pursuant to the off-market purchase, and \\ndeemed to be adjusted, in accordance with the listing rules of the SGX-ST, for any corporate action that \\noccurs during the relevant five-day period and the date of the market purchase by the Company or, as the \\ncase may be, the date of the making of the offer pursuant to the off-market purchase;\\n“date of the making of the offer” means the date on which the Company announces its intention to \\nmake an offer for the purchase or acquisition of Ordinary Shares from Shareholders, stating therein the \\npurchase price (which shall not be more than the Maximum Price calculated on the basis set out below) \\nfor each Ordinary Share and the relevant terms of the equal access scheme for effecting the off-market \\npurchase;\\n“Maximum Percentage” means that number of issued Ordinary Shares representing 3% of the issued \\nOrdinary Shares as at the date of the passing of this Resolution (excluding treasury shares and subsidiary \\nholdings (as defined in the Listing Manual of the SGX-ST)); and\\n“Maximum Price” in relation to an Ordinary Share to be purchased or acquired, means the purchase price \\n(excluding related brokerage, commission, applicable goods and services tax, stamp duties, clearance fees \\nand other related expenses) which shall not exceed: \\n(i)\\n in the case of a market purchase of an Ordinary Share, 105% of the Average Closing Price of the\\n \\nOrdinary Shares; and\\n(ii)\\n in the case of an off-market purchase of an Ordinary Share, 105%\\n of the Average Closing Price of the \\nOrdinary Shares; and\\n(d)\\n the Directors of the Company and/ or any of them be and are hereby authorised to complete and do all\\n \\nsuch acts and things (including executing such documents as may be required) as they, he and/ or she may \\nconsider expedient or necessary to give effect to the transactions contemplated and/ or authorised by this \\nResolution.\\nBy Order of the Board\\nMarc Tan \\nGroup Secretary \\nDBS Group Holdings Ltd\\n6 March 2025 \\nSingapore\\nNotes:\\nFormat of Meeting \\n(1)\\n The AGM w\\nill be held, in a wholly physical format, at Marina Bay \\nSands Expo and Convention Centre, Level 4, Roselle and Simpor \\nBallrooms, 10 Bayfront Avenue, Singapore 018956 on Friday,  \\n28 March 2025 at 2.00 p.m.. Shareholders, including CPF and \\nSRS investors, and (where applicable) duly appointed proxies and \\nrepresentatives will be able to ask questions and vote at the AGM \\nby attending the AGM in person. There will be no option for \\nshareholders to participate virtually. \\n Printed cop\\nies of this Notice of AGM and the accompanying  \\nproxy form will be sent by post to members. These documents  \\nwill also be published on the Company’s website at the URL  \\nhttps://www.dbs.com/investors/agm-and-egm/default.page \\nand the SGX website at the URL https://www.sgx.com/securities/\\ncompany-announcements. \\nAppointment of Proxy(ies)\\n(2)\\n (a)\\n  A member who is not a relevant intermediary is entitled \\nto appoint not more than two proxies to attend, speak \\nand vote at the AGM. Where such member’s instrument \\nappointing a proxy(ies) appoints more than one proxy, \\nthe proportion of the shareholding concerned to be \\nrepresented by each proxy shall be specified in the \\ninstrument. \\n (b)\\n  A member who is a relevant intermediary is entitled to \\nappoint more than two proxies to attend, speak and vote at \\nthe AGM, but each proxy must be appointed to exercise the \\nrights attached to a different share or shares held by such \\nmember. Where such member’s instrument appointing a \\nproxy(ies) appoints more than two proxies, the number and \\nclass of shares in relation to which each proxy has been \\nappointed shall be specified in the instrument.\\n “Relevant intermediary” has the meaning ascribed to it in Sectio\\nn \\n181 of the Companies Act 1967.\\n A member who wishes to appoint a proxy(ies) must complete th\\ne \\ninstrument appointing a proxy(ies), before submitting it in the \\nmanner set out below. \\n(3)\\n A proxy need not be a member of the Company. A member may \\nchoose to appoint the Chairman of the Meeting as his/ her/ its \\nproxy.\\n(4)\\n The instrum\\nent appointing a proxy(ies) must be submitted to the \\nCompany in the following manner:\\n(a)\\n if submitted\\n personally or by post, be lodged with the \\nCompany’s Polling Agent, Boardroom Corporate & Advisory \\nServices Pte. Ltd., at 1 Harbourfront Avenue,  \\n#14-07 Keppel Bay Tower, Singapore 098632; or \\n(b)\\n if submitted\\n electronically, be submitted via email to the \\nCompany’s Polling Agent, Boardroom Corporate & Advisory \\nServices Pte. Ltd., at DBSAGM2025@boardroomlimited.com, \\n and in each case, must be lo\\ndged or received (as the case may \\nbe), by 2.00 p.m. on 25 March 2025, being 72 hours before the \\ntime appointed for holding the AGM.\\n(5) CPF and SRS investors:\\n(a)\\n may vote at the AGM if they a\\nre appointed as proxies \\nby their respective CPF Agent Banks or SRS Operators, \\nand should contact their respective CPF Agent Banks or \\nSRS Operators if they have any queries regarding their \\nappointment as proxies; or \\n(b)\\n may appoint the Chairman of the Meeting as proxy \\n \\nto vote on their behalf at the AGM, in which case they  \\nshould approach their respective CPF Agent Banks or  \\nSRS Operators to submit their votes by 5.00 p.m. on  \\n18 March 2025.\\nSubmission of Questions\\n(6)\\n Shareholde\\nrs, including CPF and SRS investors, may submit \\nsubstantial and relevant questions related to the resolutions to  \\nbe tabled for approval at the AGM in advance of the AGM:\\n(a)\\n by post to the Company’s Polling Agent, Boardroom \\nCorporate & Advisory Services Pte. Ltd., at 1 Harbourfront \\nAvenue, #14-07 Keppel Bay Tower, Singapore 098632; or\\n(b)\\n via email to\\n the Company’s Polling Agent, Boardroom \\nCorporate & Advisory Services Pte. Ltd., at  \\nDBSAGM2025@boardroomlimited.com. \\n When subm\\nitting questions by post or via email, shareholders \\nshould also provide the following details: (i) the shareholder’s full \\nname; (ii) the shareholder’s address; and (iii) the manner in which \\nthe shareholder holds shares in the Company (e.g., via CDP, CPF, \\nSRS and/ or scrip), for verification purposes. \\n All question\\ns submitted in advance must be received by 2.00 p.m. \\non 14 March 2025.\\n(7)\\n The Company will address all substantial and relevant questions\\n \\nreceived from shareholders by the 14 March 2025 deadline by \\npublishing its responses to such questions on the Company’s \\nwebsite at the URL https://www.dbs.com/investors/agm-and-egm/\\ndefault.page and the SGX website at the URL https://www.sgx.com/\\nsecurities/company-announcements at least 48 hours prior to the \\nclosing date and time for the lodgement/ receipt of instruments \\nappointing a proxy(ies). The Company will respond to questions or \\nfollow-up questions submitted after the 14 March 2025 deadline \\neither within a reasonable timeframe before the AGM, or at the \\nAGM itself. Where substantially similar questions are received, the \\nCompany will consolidate such questions. Consequently, not all \\nquestions may be individually addressed.\\n(8)\\n Shareholde\\nrs, including CPF and SRS investors, and (where \\napplicable) duly appointed proxies and representatives can \\nalso ask the Chairman of the Meeting substantial and relevant \\nquestions related to the resolutions to be tabled for approval  \\nat the AGM, at the AGM itself.\\nAccess to Documents\\n(9)\\n The 2024 An\\nnual Report and the Letter to Shareholders dated \\n6 March 2025 (in relation to the proposed renewal of the share \\npurchase mandate) have been published and may be accessed  \\nat the Company’s website as follows:\\n(a)\\n the 2024 An\\nnual Report may be accessed at the URL  \\nhttps://www.dbs.com/investors/financials/group-annual-reports \\nby clicking on the hyperlinks “Making Greater Impact” or \\n“PDF” under the “2024” section of “Group Annual Reports”; \\nand\\nDBS Annual Report 2024    Making Greater Impact204 205Notice of Annual General Meeting\"\n    },\n    {\n      \"page_number\": 106,\n      \"text\": \"Name of Director Olivier Lim Tse Ghow Bonghan Cho Tham Sai Choy Tan Su Shan\\nDate of appointment 7 November 2017 26 April 2018 3 September 2018 28 March 2025 (subject to shareholders’ approval)\\nDate of last re-appointment  \\n(if applicable)\\n31 March 2022 31 March 2022 31 March 2022 Not applicable\\nAge 60 60 65 57\\nCountry of principal residence Singapore Republic of Korea Singapore Singapore\\nThe Board's comments on this \\nappointment (including rationale, \\nselection criteria, board diversity \\nconsiderations, and the search and \\nnomination process)\\nThe Board had considered the Nominating \\nCommittee’s recommendation and assessment \\nof (i) Mr Lim’s experience, skillsets, contributions \\nand commitment in the discharge of his duties \\nas a Director of DBS Group Holdings Ltd, as \\nwell as (ii) the size, composition and diversity of \\nskillsets of the Board, and is satisfied that Mr \\nLim will continue to contribute meaningfully to \\nthe Board.\\nThe Board had considered the Nominating \\nCommittee’s recommendation and assessment \\nof (i) Dr Cho’s experience, skillsets, contributions \\nand commitment in the discharge of his duties \\nas a Director of DBS Group Holdings Ltd, as \\nwell as (ii) the size, composition and diversity of \\nskillsets of the Board, and is satisfied that Dr Cho \\nwill continue to contribute meaningfully to the \\nBoard.\\nThe Board had considered the Nominating Committee’s recommendation \\nand assessment of (i) Mr Tham’s experience, skillsets, contributions and \\ncommitment in the discharge of his duties as a Director of DBS Group \\nHoldings Ltd, as well as (ii) the size, composition and diversity of skillsets \\nof the Board, and is satisfied that Mr Tham will continue to contribute \\nmeaningfully to the Board.\\nThe Board had considered the Nominating Committee’s recommendation \\nand assessment of (i) Ms Tan’s experience, skillsets and contributions, \\nas well as (ii) the size, composition and diversity of skillsets of the Board, \\nand is satisfied that Ms Tan, who will be replacing Mr Piyush Gupta as the \\nGroup CEO, will be able to commit sufficient time to the discharge of her \\nduties as a Director of DBS Group Holdings Ltd, and her background and \\nexperience will complement the Board’s current skillsets. \\nWhether appointment is executive,  \\nand if so, the area of responsibility\\nNon-Executive Non-Executive Non-Executive Executive. Ms Tan will be appointed as Group Chief Executive Officer.\\nJob Title (e.g. Lead ID, AC Chairman,  \\nAC Member etc.)\\nLead Independent Director\\nChairman of the Board Risk Management \\nCommittee \\nChairman of the Board Technology Committee \\nMember of the Board Executive Committee\\nMember of the Nominating Committee\\nNon-Executive and Independent Director\\nMember of the Board Risk Management \\nCommittee \\nMember of the Board Technology Committee\\nMember of the Compensation and Management \\nDevelopment Committee\\nMember of the Nominating Committee\\nNon-Executive and Independent Director\\nChairman of the Audit Committee\\nChairman of the Nominating Committee\\nMember of the Board Risk Management Committee \\nMember of the Board Sustainability Committee\\n \\nDeputy Group Chief Executive Officer (current)\\nChief Executive Officer (from 28 March 2025)\\nProfessional qualifications Bachelor of Engineering (First Class Honours), \\nCivil Engineering, Imperial College, London, UK\\nPh.D and MS in Computer Science, specialising \\nin Artificial Intelligence, University of Southern \\nCalifornia, USA\\nBachelor of Science in Computer Science and \\nStatistics, Seoul National University, South Korea\\nBachelor of Arts (Honours) in Economics, University of Leeds, UK\\nFellow\\n–\\n Institute of Ch\\nartered Accountants in England and Wales\\n–\\n Institute of Sin\\ngapore Chartered Accountants\\n–\\n Singapore Inst\\nitute of Directors\\nMaster of Arts in Politics, Philosophy & Economics, University of Oxford, \\nUK\\nIBF Distinguished Fellow, Institute of Banking and Finance Singapore\\nWorking experience and occupation(s) \\nduring the past 10 years\\nHeld various roles at CapitaLand Limited, \\nincluding Senior Vice President of Strategic \\nCorporate Development, Group CFO, Group \\nChief Investment Officer, before retiring as \\nGroup Deputy CEO in 2014.\\nMr Lim currently serves as a Director/ Chairman \\nof various companies. Please refer to his \\npresent directorships provided below for further \\ninformation. \\nJanuary 2014 to December 2015\\nExecutive Vice President & Chief Innovation \\nOfficer, Samsung Fire & Marine Insurance, Seoul, \\nKorea\\nDr Cho is currently the Chief Executive Officer of \\nEqualkey Corporation.\\n \\nKPMG Singapore from 1 October 1990 to 31 July 2017, including the \\nfollowing roles:\\nManaging Partner – 2010 to 2016\\nChairman, KPMG Asia Pacific – 2013 to 2017\\nMr Tham currently serves as a Director of various companies. Please refer \\nto his present directorships provided below for further information.\\nDBS Bank Ltd. from 2010 to current, including the following roles:\\nDeputy Chief Executive Officer – 7 August 2024 to current date \\nManaging Director, Head of Institutional Banking Group – 2019 to 2024\\nManaging Director, Head of Consumer Banking & Wealth Management – \\n2010 to 2018\\nAdditional information on Directors  \\nseeking election and re-election(as at 7 February 2025)\\nDBS Annual Report 2024    Making Greater Impact208 209Additional information on Directors seeking election and re-election\"\n    }\n  ]\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,-940],"id":"62fd9e35-35fb-4c2f-9148-75c5f21b6f61","name":"FixedTestFileContent1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[236,-390],"id":"5362eb32-93bd-44f8-a2be-7dd31b148b3e","name":"Merge"},{"parameters":{"jsCode":"// n8n Code节点代码\n// 处理包含```json标记的输入数据\n\nlet jsonString = $input.first().json.text;\n  \n// 移除```json和```标记\njsonString = jsonString\n  .replace(/^```json\\s*\\n?/, '')  // 移除开始的```json\n  .replace(/\\n?```\\s*$/, '')      // 移除结尾的```\n  .trim();                        // 移除前后空白\n\n// 解析JSON\nlet inputData = JSON.parse(jsonString);\n\n// 验证JSON结构\nif (!inputData.reportYear || !inputData.entities || !inputData.relationships) {\n  throw new Error('Invalid JSON structure');\n}\n\n// return [{'inputData': inputData}];\n\n// 处理数据 - 例如提取关键信息\nconst processedData = {\n  reportYear: inputData.reportYear,\n  companyInfo: {\n    name: inputData.entities.find(e => e.type === 'Company')?.canonicalName,\n    entityId: inputData.entities.find(e => e.type === 'Company')?.entityId\n  },\n  executives: inputData.entities\n    .filter(e => e.type === 'Person')\n    .map(person => {\n      const relationship = inputData.relationships.find(r => r.sourceEntityId === person.entityId);\n      return {\n        name: person.canonicalName,\n        role: relationship?.role?.details || 'Unknown',\n        category: relationship?.role?.category || 'Unknown',\n        confidence: person.NER_Confidence\n      };\n    }),\n  totalEntities: inputData.entities.length,\n  totalRelationships: inputData.relationships.length\n};\n\n// 返回处理后的数据\nconst raw = [\n  {\n    json: {\n      original: inputData,\n      processed: processedData,\n      isValid: true,\n      timestamp: new Date().toISOString()\n    }\n  }\n];\n\n// return [{'processedData': processedData}];\n\n// 如果你只是想验证和传递原始JSON，使用这个简化版本：\n/*\nreturn [\n  {\n    json: $input.all()[0].json\n  }\n];\n*/\n\ntry { return raw; }\ncatch(e){ throw new Error(\"Bad JSON: \"+e.message); }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-640],"id":"42f0564c-00ad-4b38-baac-905b6bed3030","name":"Code1"},{"parameters":{"jsCode":"return [\n  {\n    \"Company Name\": \"DBS GROUP HOLDINGS LTD\",\n    \"Year\": 2024,\n    \"Data\": \"835744_DBS%20Annual%20Report%202024.pdf\"\n  }\n]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2340,-390],"id":"5aba57fa-f715-4752-a6d2-60606bcca89a","name":"Main Process Input Sample"},{"parameters":{"fileSelector":"=/files/files/ExtractedContent/{{ $json.Data.split('.').slice(0,-1).join('')+'_extracted.json' }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2020,-560],"id":"957b2d16-8dca-410c-a878-b396d3a25865","name":"Read/Write Files from Disk","alwaysOutputData":true},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1800,-560],"id":"0c7fa8fe-fafb-48fa-ab1d-d772eaed2a25","name":"Extract from File"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1580,-560],"id":"87007a15-a714-4cad-8fb7-5cef1456615e","name":"Merge2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0cee0186-66fd-4265-8ec1-6f6f8ac17c11","leftValue":"={{ $json.data.content }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}},{"id":"b3b23461-784a-479e-8f7e-803278ae9f59","leftValue":"={{ $json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"0ed72717-1089-4252-a539-0f79483d895e","leftValue":"={{ $json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"f3fc41ca-bb4a-45e6-992a-c15f688823d0","leftValue":"={{ $json.Year }}","rightValue":2010,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,-640],"id":"874468ff-5ce7-4357-b00c-687b8750fe24","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8508e620-9172-478e-b3cb-6675d3d39349","leftValue":"={{ $('Read/Write Files from Disk').item.json.fileSize.split(' ')[0].toNumber() }}","rightValue":120,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,-560],"id":"37d4b296-9852-48e4-887e-8c4326552cb5","name":"If1"}],"connections":{"SGX_PDF_Sub":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge2","type":"main","index":1},{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Main Process Input Sample","type":"main","index":0}]]},"SetFixedTestLlmOutput":{"main":[[{"node":"useFixedTestLlmOutput","type":"main","index":0}]]},"useFixedTestLlmOutput":{"main":[[{"node":"FixedTestFileContent1","type":"main","index":0}],[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"FixedLlmOutput":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"FixedTestFileContent1":{"main":[[{"node":"FixedLlmOutput","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Main Process Input Sample":{"main":[[{"node":"SetFixedTestLlmOutput","type":"main","index":0},{"node":"Merge2","type":"main","index":1},{"node":"Merge","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b9b55a1-2483-44b4-850c-b9606b48618f","triggerCount":0,"tags":[]}