MAS/MAS_merged_nodes.json
{
  "name": "MAS first 1500",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2540,
        970
      ],
      "id": "a7f2fe64-5cb6-4a1d-84a4-5bc787cbfea4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://eservices.mas.gov.sg/fid/institution?count=0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        1220
      ],
      "id": "d0850cb7-6f60-454d-a92b-5d5426eefcd0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "={{ $json.keys() }}",
              "cssSelector": ".inner",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -2100,
        1220
      ],
      "id": "1c95e520-cf34-462a-b6fd-f95fe8576f39",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1880,
        1220
      ],
      "id": "04055342-3c03-4835-a099-5e39ef389faf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "href",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1000,
        1020
      ],
      "id": "e29552a0-677b-4bc1-b5be-d90a8bde75ee",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "href[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -780,
        1020
      ],
      "id": "f0b888f4-3f2a-46d3-bd9b-2e4488d8ed22",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56a1c526-b8c6-4143-a462-5af0e453280a",
              "leftValue": "={{ $json['href[0]'] }}",
              "rightValue": "/fid",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1020
      ],
      "id": "32db3b50-4c9e-4a42-91f8-5b4aa26cbef1",
      "name": "If",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://eservices.mas.gov.sg{{ $json['href[0]'] }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        1470
      ],
      "id": "7cc8fddf-c40b-4b11-9bc1-1b5eb8662dc0",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS\n\nhttps://eservices.mas.gov.sg{{ $json['href[0]'] }}"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Personnel",
              "cssSelector": ".personnel",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "Company Name",
              "cssSelector": ".title h1"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -660,
        1220
      ],
      "id": "d730ac4f-11c8-4a42-a0dd-3888af656ff5",
      "name": "HTML2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0fe8174-315d-4d60-8d75-575e350e2b37",
              "leftValue": "={{ $json.Personnel }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        1095
      ],
      "id": "78694216-257b-45b4-9a26-5d62d06c2e11",
      "name": "If1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94306480-fd34-4471-a8ca-3d0509601cc5",
              "name": "['href[0]']",
              "value": "=https://eservices.mas.gov.sg{{ $json['href[0]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        1570
      ],
      "id": "b83800d2-3876-4c77-bc60-4d6da2851841",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -120,
        1420
      ],
      "id": "846596cb-a091-4764-b2f5-2d6d85e559e0",
      "name": "Merge1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Company Name']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        980,
        1220
      ],
      "id": "44c05ba7-fce4-4f4e-b60a-a29af21d0861",
      "name": "Merge2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        760,
        1120
      ],
      "id": "5b3c54d5-a130-405a-b360-3fd659c87b92",
      "name": "Merge3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        1220
      ],
      "id": "69d0eee3-a2f2-448a-943b-0d56c91d6957",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        1195
      ],
      "id": "47966679-84d2-4e29-8bdb-e244b5ea4021",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11703b51-1360-465c-945a-7a23d56ae4c9",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        1470
      ],
      "id": "89abd04c-76b1-4b9d-8e29-9c5519ddbdb8",
      "name": "If2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/files/MAS_Personnel_first_1500.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1420,
        1220
      ],
      "id": "ee6fec34-f739-47a1-8ae8-f4d12f6df6f1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/mas_urls.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        100,
        1620
      ],
      "id": "c84d2c60-3faf-4df4-9950-b5e2f6c855bd",
      "name": "Read/Write Files from Disk1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -120,
        1620
      ],
      "id": "49c209dd-ff50-40bd-97a4-5f18eeecf37d",
      "name": "Convert to File1",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 1500
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1660,
        1020
      ],
      "id": "1ae82aec-137a-48ab-ba5b-d1a85d80a2d9",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1270
      ],
      "id": "98401cca-182b-40a9-b758-68370d76f246",
      "name": "Code1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Delete unnecessary columns\nfor (const item of $input.all()) {\n  delete item.json.Personnel;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        1420
      ],
      "id": "cf90aef3-2d16-46f4-8752-55d5eb8dfe64",
      "name": "Code",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2540,
        200
      ],
      "id": "a29f9b45-ad24-4b4f-ad43-0d187a17125b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "Personnel",
        "extractionValues": {
          "values": [
            {
              "key": "Person Title",
              "cssSelector": ".header-inner-2"
            },
            {
              "key": "Person Name",
              "cssSelector": ".font-resize"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1660,
        0
      ],
      "id": "51f56680-1739-460b-9e02-d2ea5e873f8c",
      "name": "HTML4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Personnel",
              "cssSelector": ".personnel",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "Company Name",
              "cssSelector": ".title h1"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -2100,
        200
      ],
      "id": "afdeb5e3-fb92-454b-8b78-3ac912196dfb",
      "name": "HTML5",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11703b51-1360-465c-945a-7a23d56ae4c9",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2320,
        200
      ],
      "id": "7b826b37-037c-4a64-9050-33ebfd637319",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0fe8174-315d-4d60-8d75-575e350e2b37",
              "leftValue": "={{ $json.Personnel }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1880,
        200
      ],
      "id": "fc576fca-df1f-40a5-886c-666ef1b33efa",
      "name": "If4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1220,
        200
      ],
      "id": "a85a70fe-139d-4492-a66a-1aa5e50eaaa7",
      "name": "Merge4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        375
      ],
      "id": "f43cca18-4452-4a26-a2d3-ab228b371a00",
      "name": "Code3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        100
      ],
      "id": "0b6d7761-c0a8-4ece-a75a-1e1037823d41",
      "name": "Merge5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "584a6241-6de3-4e8f-bd16-9397e8ae73f0",
              "name": "Company Name",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        200
      ],
      "id": "c56482e1-544b-4ee3-b4a3-36507624b2ce",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1660,
        1270
      ],
      "id": "7451c2fe-e0de-4000-8be2-5b1af4050cff",
      "name": "Convert to File2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/files/MAS2_all_after_first split_node.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1440,
        1270
      ],
      "id": "0810e05f-5b93-4525-a909-71f73ded351e",
      "name": "Read/Write Files from Disk2",
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "/files/files/MAS2_all_after_first split_node.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2320,
        970
      ],
      "id": "6365da34-d058-4523-a277-982c504f0455",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "href",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2100,
        970
      ],
      "id": "9c51595c-585e-4536-805c-349a80190482",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "href",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1880,
        970
      ],
      "id": "908debd1-f9e5-4d64-afaf-971ba538cd6e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CUqAw3oN4bhzQ0jO",
          "mode": "list",
          "cachedResultName": "MAS Personnel Company Page Parse Multi-person"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        320,
        1000
      ],
      "name": "Call MAS Personnel Company Page Parse Multi-person",
      "id": "6029924c-8d2c-4cd0-b97b-537ca2f15333"
    },
    {
      "parameters": {
        "maxItems": 10,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1220,
        1020
      ],
      "id": "83ae15f4-d6e3-405f-8089-6a8573e9b3e2",
      "name": "Limit1",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 410
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1440,
        1020
      ],
      "id": "50a106c1-90ac-451a-af65-90f5a37a5f2a",
      "name": "Limit2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2540,
        970
      ],
      "id": "1bc0464c-cd15-459d-9ea8-98b9683595d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://eservices.mas.gov.sg/fid/institution?count=0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        1220
      ],
      "id": "efff1cc6-26de-406c-a435-6ce28a265722",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "={{ $json.keys() }}",
              "cssSelector": ".inner",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -2100,
        1220
      ],
      "id": "9cdea748-56df-4812-b790-a6e0646b3283",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1880,
        1220
      ],
      "id": "18711a33-825c-4539-b5d3-1cdc51d18f72",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "href",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1440,
        1020
      ],
      "id": "630828fc-8ecf-49a4-a3ce-fad0949af5e6",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "href[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1220,
        1020
      ],
      "id": "1d28c5d5-2476-4838-8010-f85a2b59600a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56a1c526-b8c6-4143-a462-5af0e453280a",
              "leftValue": "={{ $json['href[0]'] }}",
              "rightValue": "/fid",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1000,
        1020
      ],
      "id": "ada72fb2-fb9c-4cb5-be82-c34dac4d3b4a",
      "name": "If",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://eservices.mas.gov.sg{{ $json['href[0]'] }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        1470
      ],
      "id": "c43c2603-1469-4b5a-9035-94cc015b7160",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS\n\nhttps://eservices.mas.gov.sg{{ $json['href[0]'] }}"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Personnel",
              "cssSelector": ".personnel",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "Company Name",
              "cssSelector": ".title h1"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1000,
        1420
      ],
      "id": "39fe801f-eaae-4fd4-92f3-63bfd88cdd1f",
      "name": "HTML2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0fe8174-315d-4d60-8d75-575e350e2b37",
              "leftValue": "={{ $json.Personnel }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        1095
      ],
      "id": "6ecc7845-d194-4da5-a1e8-4f84dc246684",
      "name": "If1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94306480-fd34-4471-a8ca-3d0509601cc5",
              "name": "['href[0]']",
              "value": "=https://eservices.mas.gov.sg{{ $json['href[0]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        1570
      ],
      "id": "21bb7d10-8040-4c5e-bd43-75f1ae5de9af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        1420
      ],
      "id": "2b0e9634-9def-4782-b43e-ef21d49dba71",
      "name": "Merge1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Company Name']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        540,
        1220
      ],
      "id": "f1b366b5-0bab-4493-8cad-f3d711e698a9",
      "name": "Merge2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        1120
      ],
      "id": "5c9731d4-88a7-4563-80e5-97cfcbc77f42",
      "name": "Merge3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        760,
        1220
      ],
      "id": "f5a6d526-3555-4ff5-9130-8218e4d24c76",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -780,
        1195
      ],
      "id": "2e05a5d4-def8-44cf-a717-47c06729acf7",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11703b51-1360-465c-945a-7a23d56ae4c9",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1220,
        1470
      ],
      "id": "ea6fb3e3-4bc8-4992-82e1-9935604d6b9c",
      "name": "If2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/files/MAS_Personnel_last_1500.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        980,
        1220
      ],
      "id": "4a313bb1-4bcc-4687-8d4c-d5320cc5be2b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/mas_urls.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -340,
        1620
      ],
      "id": "3dc06e1e-4b96-4d90-858d-3224dac9171a",
      "name": "Read/Write Files from Disk1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        1620
      ],
      "id": "e9757b10-0a6e-467b-9319-1c19d53088dc",
      "name": "Convert to File1",
      "disabled": true
    },
    {
      "parameters": {
        "maxItems": 1500,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1660,
        1020
      ],
      "id": "84868805-84c2-49f4-aa36-8daf0b89bc93",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1220
      ],
      "id": "b07e0712-94b4-49f4-922d-c745fb6fa094",
      "name": "Code1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Delete unnecessary columns\nfor (const item of $input.all()) {\n  delete item.json.Personnel;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        1420
      ],
      "id": "f3d5410e-f83f-4348-8e4c-56b4d24680c2",
      "name": "Code",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://eservices.mas.gov.sg/fid/institution/detail/3064-BNP-PARIBAS",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2540,
        200
      ],
      "id": "f46166c7-3378-4294-b8af-d8d38cc3b37d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "Personnel",
        "extractionValues": {
          "values": [
            {
              "key": "Person Title",
              "cssSelector": ".header-inner-2"
            },
            {
              "key": "Person Name",
              "cssSelector": ".font-resize"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1660,
        0
      ],
      "id": "68ed3329-8896-41cf-84ab-dc0b83adb183",
      "name": "HTML4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Personnel",
              "cssSelector": ".personnel",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "Company Name",
              "cssSelector": ".title h1"
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -2100,
        200
      ],
      "id": "d5aa48db-c6f1-47cc-bfe3-0761a59cd163",
      "name": "HTML5",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11703b51-1360-465c-945a-7a23d56ae4c9",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2320,
        200
      ],
      "id": "317deeab-df04-4008-90ab-b008f3a46ba3",
      "name": "If3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0fe8174-315d-4d60-8d75-575e350e2b37",
              "leftValue": "={{ $json.Personnel }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1880,
        200
      ],
      "id": "8a383637-ad39-4ffd-ad86-a04986e16b24",
      "name": "If4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1220,
        200
      ],
      "id": "0542791c-9d15-4547-8cea-f79eb3527f1c",
      "name": "Merge4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    'Person Title': \"\",\n    'Person Name': \"\",\n    'Company Name': $json['Company Name']\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        375
      ],
      "id": "12c2a82e-8cc8-40b4-805c-24ca7f49e353",
      "name": "Code3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        100
      ],
      "id": "22902f21-5a6b-40c2-b172-695038b5259e",
      "name": "Merge5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "584a6241-6de3-4e8f-bd16-9397e8ae73f0",
              "name": "Company Name",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        200
      ],
      "id": "6c3da458-cb69-4a1d-ad76-26d7a29830fe",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1660,
        1270
      ],
      "id": "0169f4c9-c6c8-4cae-9d9c-36171b203aae",
      "name": "Convert to File2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/files/files/MAS2_all_after_first split_node.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1440,
        1270
      ],
      "id": "c5429eb7-e0c3-4f2a-9cdb-c7522b5e4880",
      "name": "Read/Write Files from Disk2",
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "/files/files/MAS2_all_after_first split_node.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2320,
        970
      ],
      "id": "8948a8b6-cba5-4d18-8dfd-ce160ffe8137",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "href",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2100,
        970
      ],
      "id": "2b32ab2f-1c8c-42ea-8c3d-b4619681601b",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "href",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1880,
        970
      ],
      "id": "3d7a9016-5dd2-45ac-84aa-b6fed7bd6efd",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CUqAw3oN4bhzQ0jO",
          "mode": "list",
          "cachedResultName": "MAS Personnel Company Page Parse Multi-person"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -340,
        1000
      ],
      "id": "bf88450f-d897-41a7-b859-914da4f03a5c",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call MAS Personnel Company Page Parse Multi-person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML5": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTML4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MAS Personnel Company Page Parse Multi-person": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a35a62d-d7c9-4379-bfa0-ab1e31659242",
  "meta": {
    "instanceId": "63f2b2af2f53ae8dbdb9e480b243e47f5c5a8944d7178a8410f47a4fc54f43e2"
  },
  "id": "kMA2pssYJEbCGsmm",
  "tags": []
}